@keyframes slideOutLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes moveOverLeft {
	0% {
		text-transform: translateX(0);
	}
	100% {
		transform: translateX(80px);
	}
}