.container {
	width: 80%;
	margin: 0 auto;
	@include breakpoint(tablet, min-width) {
		width: map-get($breakpoints, tablet) * .9;
	}
	@include breakpoint(desktop, min-width) {
		width: map-get($breakpoints, desktop) * .86;
	}
	@include breakpoint(xldesktop, min-width) {
		width: map-get($breakpoints, xldesktop) * .69;
	}
	&:after {
	    display: table;
	    clear: both;
	    content: '';
	  }
}