//# of Columns
$columns: 12;

// Large Desktop Values
$lrg-column-width: 80px;

// Desktop Values
$gutter: 20px;
$column-width: 60px;
$padding: $gutter / 2;

// Tablet Values
$tablet-gutter: 12px;
$tablet-column-width: 52px;
$tablet-padding: $tablet-gutter / 2;

// Device Sizes
$large-desktop: 1200px;
$desktop: 960px;
$tablet: 768px;
$mobile: 100%;

// Media Query Sizes
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $desktop){
    @content;
  }
}
@mixin large-desktop {
  @media (min-width: $large-desktop){
    @content;
  }
}
@mixin max-desktop {
	@media (max-width: ($desktop - 1)) {
		@content;
	}
}
@mixin max-tablet {
	@media (max-width: ($tablet - 1)){
		@content;
	}
}

@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

// Determine width (usually for container)
@mixin width($column-width, $gutter-width, $columns, $adjust: 2, $width-adjustment:""){
	$true: 1;
  $width: (($column-width + $gutter-width) * ($columns - 1));
  @if ($adjust == $true) { 
	  width: calc( #{$width} - #{$width-adjustment}); 
	  } @else {
		  width: $width;
	  }
}

// Extended properties
%col {
  width:100%;
  float: left;
  text-align:center;
}

// Actual properties
.container
{
 @include clearfix;
  width: 80%;
  margin: 0 auto;
  //overflow: hidden;
  // @include tablet {
  //   @include width($tablet-column-width, $tablet-gutter, $columns);
  // }
  @include desktop {
   //@include width($column-width, $gutter, $columns);
   width: 880px;
  }
  @include large-desktop {
    @include width($lrg-column-width, $gutter, $columns);
  }
  &:after, &::before {
	  display: table;
	  content: "";
  }
}

// Column Creation
@for $i from 1 to ($columns + 1)
  {
    .col#{$i} {
      @extend %col;
    }
  }

@include tablet {
  @for $i from 1 to ($columns + 1)
  {
    // Calculate grid size in pixels
    $grid: ($tablet-column-width * $i) + ($tablet-gutter * ($i - 1));
    .col#{$i}
     {
       width: $grid;
       margin-left: $tablet-padding;
       margin-right: $tablet-padding;
     }
   }
}
@include desktop {
  @for $i from 1 to ($columns + 1)
  {
    // Calculate grid size in pixels
    $grid: ($column-width * $i) + ($gutter * ($i - 1));
    .col#{$i}
    {
      width: $grid;
      margin-left:$padding;
      margin-right: $padding;
    }
   }
}
@include large-desktop {
  @for $i from 1 to ($columns + 1)
  {
    // Calculate grid size in pixels
    $grid: ($lrg-column-width * $i) + ($gutter * ($i - 1));
    .col#{$i}
    {
      width: $grid;
      margin-left:$padding;
      margin-right: $padding;
    }
   }
}
