#footer {
	color: color(text, base);
	@include breakpoint(mobile, max-width){
		text-align: center;
		padding: 80px 0 20px 0;
	}
	@include breakpoint(tablet, min-width) {
		padding: 130px 0 40px 0;
	}

	@include breakpoint(desktop, min-width){
		nav {
			padding-bottom:20px;
		}
	}
}

.footer-cta {
	font-weight: normal;
	line-height: 1.4;
	font-size: 24px;

	@include breakpoint(tablet, min-width) {
		font-size: 36px;
	}
}

.social-footer {
	font-size: 1.1rem;
	padding: 40px 0;
	@include breakpoint(mobile, max-width) {
		li {
			width: 48%;
			display: inline-block;
		}
	}
	@include breakpoint(desktop, min-width) {
		font-size: 14px;
		padding: 80px 0 40px 0;
	}
	
	a {
		text-decoration: underline;
		transition: opacity 400ms ease-out;
		margin-right: 25px;
		font-weight: 600;
		&:hover {
			opacity: .5;
		}
	}
}

.copyright {
	font-size: .9rem;
	color: color(text, gargoyles);
	
	@include breakpoint(tablet, max-width) {
		#footer & {
			padding-bottom:20px;
		}
	}

	@include breakpoint(desktop, min-width) {
		font-size: 14px;
	}
}

nav {
	
	@include breakpoint(tablet, max-width) {
		padding-bottom: 20px;
	}
}