.quote {
    
    font-size: 1.1rem;
    margin-bottom: 1rem;
    @include breakpoint(tablet, min-width) {
        font-size: 1.4rem;
    }
    @include breakpoint(desktop, min-width) {
        font-size: 2.2rem;
        margin-bottom: 3rem;
    }
    // padding: 0 12vw;
    line-height: 1.4;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 2rem;
    text-align: center;
    &:after {
        content: "";
        @include breakpoint(desktop, min-width) {
            margin: 40px auto 100px auto;
        }
        margin: 40px auto 60px auto;
        width: 30%;
        height: 2px;
        background-color: #bbb;
        display: block;
        .blue & {
            background-color: color(blue, base);
        }
        .orange & {
            background-color: color(orange, base);
        }
        .green & {
            background-color: color(green, base);
        }
    }
}