{% extends "secondary-layout.njk" %}

{% block title %}Clinical Mastery | Email Design &mp; Development — {% endblock %}

{% block pageID %}id="work"{% endblock %}

{% block hero %}
<section class="hero">
	<div class="container">
		<h2 class="hero--title">Clinical Mastery Series</h2>
		<h3 class="hero--subtitle">Creating a flexible design series of emails with minimal changes to the codebase.</h3>
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<section class="intro-block">
		<div class="container">
			<div class="right-sidebar">
				<p>
					<strong>Client:</strong><br>
					CDEWorld
				</p>

				<p>
					<strong>Role:</strong><br>
					Designer, Developer
				</p>

				<p>
					<strong>Deliverable:</strong><br>
					Email Series
				</p>
			</div>
			<div class="left-main">
				<p>
					 CDEWorld had a new partnership for their events and I was tasked with creating emails that would advertise their upcoming events. The main task would be to replicate the design and feel of Clinical Mastery while making it an easy email to develop in a short time.
				</p>
			</div>
			
		</div>
	</section>
	<div class="body">
		<h3 class="subhead">The Execution</h3>
		<p>
			The email content could change based on the stage of the event that was being promoted. With this information in mind I made a simple, non-dynamic base template that would reflect the basic design but leave room to create the different series templates. I manually put in the updated course content and matched the educator to the proper email. Otherwise, it was pretty plug &amp; play.
		</p>
	</div>
	<div class="full-image">
		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyload" 
		src="data:image/gif;base64,
		R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
		data-srcset="http://victoriapugh.net/images/gallery/newsletters/cms-generic.jpg 480w,
		http://victoriapugh.net/images/gallery/newsletters/cms-generic.jpg 600w,
		http://victoriapugh.net/images/gallery/newsletters/cms-generic.jpg 900w">
		
		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyload" 
		src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
		data-srcset="http://victoriapugh.net/images/gallery/newsletters/cms-meet-educator.jpg 480w,
		http://victoriapugh.net/images/gallery/newsletters/cms-meet-educator.jpg 600w,
		http://victoriapugh.net/images/gallery/newsletters/cms-meet-educator.jpg 900w">
	</div>
</main>
{% endblock %}