{% extends "secondary-layout.njk" %}

{% block title %}United Nations - Inter-Agency Games - Website Re-design {% endblock %}

{% set pageID="work" -%}

{% block hero %}
<section class="hero">
	<div class="container">
		{# <h2 class="hero--title">CDEWorld Redesign</h2> #}
		<h2 class="hero--title">United Nations Inter-Agency Games</h2>
		<h3 class="hero--subtitle">Redesigned website for a user-friendly and functional experience</h3>
		{# <h3 class="hero--subtitle">&mdash; Completed Project &mdash;</h3> #}
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<section class="intro-block">
		<div class="container">
			<div class="right-sidebar">
				<p>
					<strong>Client:</strong> United Nations
				</p>

				<p>
					<strong>Role:</strong> Designer, Developer
				</p>

				<p>
					<strong>Deliverable:</strong> Website
				</p>
			</div>
			<div class="left-main">
				{# <p>
					 United Nations HQ were hosting the 41st Inter-Agency Games, the first time the games were being held in New York City. They wanted to go above and beyond for these games by creating a new look website and matching promotional pieces and signage. The timeline was very short for this project, 2 months to go from research and conception to website launch.
				</p> #}
				<p>
					In 2014 the United Nations Headquarters (NYC) would be hosting the 41st Inter-Agency Games. This would be the first time the games were being held in New York City. For this special occasion they wanted to go above and beyond for these games and create a new look for the website and matching design for the promotional pieces and signage. The website would be created first and that would set the tone for the print visuals.
				</p>
			</div>
		</div>
	</section>
	<div class="full-image">
		{# <img src="http://toripugh.com/images/gallery/uniag/homepage-end.png" alt=""> #}
		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyloaded" 
		data-src="../images/gallery/uniag/homepage-end@1x.png" 
		data-srcset="../images/gallery/uniag/homepage-end@0.5pngpg 480w,
		../images/gallery/uniag/homepage-end@1x.png 640w,
		../images/gallery/uniag/homepage-end@2x.png 1200w"
		srcset="../images/gallery/uniag/homepage-end@0.5pngpg 480w,
		../images/gallery/uniag/homepage-end@1x.png 640w, 
		../images/gallery/uniag/homepage-end@2x.png 1200w" src="../images/gallery/uniag/homepage-end@1x.png"
		>
	</div>
	<div class="body">
		<p>
			<em>The United Nations (UN) is an intergovernmental organization to promote international co-operation, the organization was established on 24 October 1945 after World War II in order to prevent another such conflict. Its objectives include maintaining international peace and security, promoting human rights, fostering social and economic development, protecting the environment, and providing humanitarian aid in cases of famine, natural disaster, and armed conflict.</em>
		</p>
		<h3 class="subhead">Research</h3>
		<p>
			Before I did any research myself, I was given an idea of what they didn't want. They used the current and past Inter-Agency Games websites that they had at the time as examples of what they wanted to avoid. They were simple sites that were text heavy and lacking in images. They weren't the most visually appealing sites.
		</p>
	</div>
	<div class="full-image">
		<img src="http://victoriapugh.net/images/gallery/iag/iag-olddesign.png" alt="">
		{# <h2 class="quote"></h2> #}
	</div>
	<div class="body">
		<p>
		When I started my research for this project I centered it on similar criteria. The criteria was an international event, my instinct was to investigate the Olympics and World Cups—two of the largest events that fit the criteria and would be the best at showcasing the different aspects of the games to keep in mind.
		</p>
		<h3 class="subhead">Wireframes &amp; Prototypes</h3>
		<p>
			My role was the design and development of the site, not designing the assets. I wanted to create a layout that would accommodate the colors, logo and any other assets the United Nations designers came up with. There was a quick review process with the Coordination Committee and the United Nations Print Department. After the review I created a live prototype so I could easily update it and everyone on it's progress. This made it easier to get feedback on the final product.
		</p>
	</div>
	{# <div class="full-image">
		<img src="http://toripugh.com/images/gallery/uniag/IAG-Prototypes.jpg" alt="">
		
	</div> #}
	<div class="full-image">
		<img src="http://victoriapugh.net/images/gallery/iag/iag-initialdesign.png" alt="">
		<h2 class="quote">An early version hifi wireframe and the prototype created from it.</h2>
	</div>
	<div class="body">
		<h3 class="subhead">Launch and Results</h3>
		<p>
			The new site was successful in bringing more visual elements to the new design while still being full of necessary information. The launch of the site was 4 months before the event, to get everyone on the same page for registration and coordination for the event. After the site launch there were over 44,000 pageviews with a bounce rate of 34% (lower bounce rate is good), an average of 4 pages per session (people viewed at least 4 pages every visit) and for an average duration of about 4 mins.
		</p>
	</div>
	<div class="full-image">
		<img src="http://toripugh.com/images/gallery/uniag/IAG-Results.jpg" alt="">
		{# <img alt="" data-sizes="auto" class="blur-up lazyautosizes lazyloaded" 
		data-src="../images/gallery/ucd/UCD-emails-2@1x.jpg" 
		data-srcset="../images/gallery/ucd/UCD-emails-2@0.5x.jpg 300w,
		../images/gallery/ucd/UCD-emails-2@1x.jpg 900w,
		../images/Thumbnails/tufts-time-is-running-out@2x.jpg 1200w"
		srcset="../images/gallery/ucd/UCD-emails-2@0.5x.jpg 300w,
		../images/gallery/ucd/UCD-emails-2@1x.jpg 900w, 
		../images/gallery/ucd/UCD-emails-2@2x.jpg 1200w" src="../images/gallery/ucd/UCD-emails-2@1x.jpg"> #}
		<h2 class="quote">There was a good spike of traffic before and during the event.</h2>
	</div>
</main>
{% endblock %}