{% extends "secondary-layout.njk" %}

{% block title %}VP-Designs - Website Design &amp; Development — {% endblock %}

{% block bodyid %}
{% set activePage = "work" %}
{% endblock %}

{% block hero %}
<section class="hero">
	<div class="container">
		<h2 class="hero--title">VP-Designs</h2>
		<h3 class="hero--subtitle">Designing and developing a freelance site</h3>
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<section class="intro-block">
		<div class="container">
			<div class="right-sidebar">
				<p>
					<strong>Client:</strong> Self
				</p>

				<p>
					<strong>Role:</strong> Designer, Developer
				</p>

				<p>
					<strong>Deliverable:</strong> Website
				</p>
			</div>
			<div class="left-main">
				<p>
					 I wanted to start a freelance company, even though I am one person I think that a company looks more trustworthy. Working under the idea of the "royal we" I wanted to create a professional site to attract businessess. This needed to be clear, concise, and a little showy.<br><br>
                     <a class="link" href="http://victoriapugh.net/" target="_blank">Visit Site</a>
				</p>
			</div>
		</div>
	</section>
	<div class="full-image">
		<img src="../images/gallery/victoriapugh/laptop-site.png" alt="">
	</div>
	<div class="body">
		<h3 class="subhead">The Approach</h3>
		<p>
			Creating a site that speaks to clients while educating and coaching at the same time is a difficult feat. I wanted the site to be easily accesible to anyone looking to fix a problem or looking into my company, so no jargon or confusing terms.
        </p>
        <p>
            I would be tasked with all facets of this project, copywriting, design, and developing. I wanted to stress speed in the website, a quick start up and download of the components. The design I wanted to be simple but with a bit of flare, to be eye-catching and rememberable.
		</p>
		<h3 class="subhead">Research</h3>
		<p>
			I poured over Dribbble and went through as many portfolio sites as I could, each being exceptionally different. Not finding a style that I thought I wanted my site to go in, I took different pieces of design techniques and incorporated them into my ideas.
		</p>
        <h4 class="subhead--sub">Layout</h4>
        <p>
            The layout of other sites is something that I was very aware of, there are a lot of one page sites and I wasn't sure if that was worth emulating. I wasn't sure if that would be viewed as easier for a potential client to navigate or would they mind go back and forth between different pages.
        </p>
        <h4 class="subhead--sub">Color Scheme</h4>
		<p>
			I've always used three colors as my color scheme and always wanted to do some kind of gradient. I decided early in the planning phase that I would have a gradient, well 3 actually and they would rotate on load. Similar to what I do on this site, since this one was created first. I took so long making this site, that gradients became fashionable and were being done well.
		</p>
        <h4 class="subhead--sub">Content</h4>
		<p>
			The most important part and what I spent most of my time doing. Looking up how other freelancers and small businesses write their content. How straightforward were they, "I make mobile apps", or vague "I'm a designer". I discounted "big name" freelancers since they're approach would be different then mine. They aren't building a name and needing to walk people through their work, I am. So, I just searched for local people or low-level good work people.
		</p>
	</div>
	<div class="full-image">
		<img src="../images/gallery/victoriapugh/dribbble-portfolio.png" alt="">
		<h2 class="quote">I developed an extensive list of portfolio sites. Most I couldn't necessarily emulate but to get an idea of font-size, layouts, and general appearance.</h2>
	</div>
	<div class="body">
		<h3 class="subhead">Initial Designs</h3>
        {# <img src="../images/gallery/victoriapugh/initial-design.png" alt=""> #}
		<p>
            I jumped into sketch and started to put together some layouts and start working with the proper wording. I wanted to make the homepage intial screen simple and impactful. Going with the idea of gradients I wanted the hero to be a bright color with simple white text. 
		</p>
        <p>
            I went to the extreme at first and worked my way back to a more clean design. The waves at the bottom were more distracting than they actually added anything to the site. The wording was too much, you want people to hit the page and want to read more and not be hit by a wall of words, in most cases.
        </p>
	</div>
    <div class="full-image">
		<img src="../images/gallery/victoriapugh/initial-design.png" alt="">
		<h2 class="quote">I wasn't feeling these designs were strong, the text alignment felt off and the wording was still off.</h2>
	</div>
    <div class="body">
		<h3 class="subhead">Second-try Design</h3>
		<p>
            I'd developed the prior designs into a prototype site, and was not satisfied with the layout and the wording. I wanted something different from some of the sites I'd seen. I kept with a primary large set sans-serif font and went to left align instead of center aligning.
		</p>
        <p>
            I went to the extreme at first and worked my way back to a more clean design. The waves at the bottom were more distracting than they actually added anything to the site. The wording was too much, you want people to hit the page and want to read more and not be hit by a wall of words, in most cases.
        </p>
	</div>
	<div class="full-image">
		<img src="https://scontent-lga3-1.cdninstagram.com/vp/f61bd34c4ad6ab136fd62a5ffe40b55e/5B23446E/t51.2885-15/e35/21827147_2045367052360579_5572235525529534464_n.jpg" alt="">
		<h2 class="quote">More dynamic gradient, liked the heavier font choice, and less to read. On the right direction.</h2>
	</div>
    <div class="body">
		<h3 class="subhead">More Protoyping</h3>
		<p>
            I'd developed the prior designs into a prototype site, and was not satisfied with the layout and the wording. I wanted something different from some of the sites I'd seen. I kept with a primary large set sans-serif font and went to left align instead of center aligning.
		</p>
        <p>
            Looking through a lot of Steve Schoger's tweets on <a class="plain-link" href="https://twitter.com/steveschoger/status/895647278370660353" target="_blank">gradients</a> and <a href="https://twitter.com/i/moments/880688233641848832" target="_blank">more</a> and used that to create a much cleaner and more consistent colored site. My gradients now felt vibrant and balanced. I liked the usage of the icons in the hero and in the list below.
        </p>
	</div>
	<div class="full-image">
		<img src="../images/gallery/victoriapugh/latest-dribble.png" alt="">
		<h2 class="quote">Following some tips from online, I made a more streamlined site. The wording feels much more natural.</h2>
	</div>
	<div class="body">
		<h3 class="subhead">Final Version</h3>
		<p>
			The final site, is very close to the final design. As much as I liked the icons, I think the site looks perfectly fine without them. I added slight images behind the gradients on the homepage, these are tied to the different colors. It's a part of the branding that I've created for the company and works very well on the web. There are SVG that are inlined so there is not extra weight or strain to the site. They are also quite easy to manipulate if I want to change them further on down the road.
		</p>
		<p>
			The build for this site is very simple, it's just your average HTML, CSS, and Javascript. The only fancy thing I've done is lazy-loading the images and used srcset. This reduces the burden on mobile and tablet users and let's them load a smaller sized file.
		</p>
		<p>
			The blog page was a late addition because I had not decided to write a consistent blog until late in the development phase. It was easy but it's a very manual process at the moment and making that easier would be great.
		</p>
		<p>
			<a href="http://victoriapugh.net/" target="_blank">Visit Site</a>
		</p>
	</div>
	<div class="full-image">
		<img src="../images/gallery/victoriapugh/final-version-vpdesigns.png" alt="">
	</div>
</main>
{% endblock %}