<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}Tori Pugh - UI/UX Front-End Developer</title>
	<link rel="icon" href="images/icon-desktop.png">
	<link rel="icon" href="images/icon-app.png" sizes="192x192">
	<link rel="shortcut icon" href="images/icon-desktop.png">
	<link rel="apple-touch-icon" href="images/icon-app.png">
	<link rel="apple-touch-icon-precomposed" href="images/icon-app.png">
	{% block css %}
	<!--build:css css/styles.min.css-->
	<link rel="stylesheet" href="css/style.css">
	<!--endbuild-->
	{% endblock %}
</head>
	{% block bodyid %}{% endblock %}
	{% import 'templates/macros/bodyid-macro.njk' as pageBodyID %}
	{{pageBodyID.active(activePage)}}
	{% include "templates/partials/header.njk" %}
	{% block hero %}{% endblock %}
	{% block content %}{% endblock %}
	{% include "templates/partials/footer.njk" %}
	{% block js %}
	<!--build:js js/vendor.min.js -->
	<script src="js/jquery.min.js"></script>
	<script src="js/lazysizes.min.js" async=""></script>
	<!-- endbuild -->
	<!--build:js js/main.min.js -->
	<script src="js/scripts.js"></script>
	<!-- endbuild -->
	{% endblock %}
</body>
</html>