<a href="#0" class="sttop is-visible"><span class="sr-only">Back to Top</span>Top</a>
<div id="footer">
	<div class="container">
		<h3 class="footer-cta"><strong>Get in Touch.</strong> If you've got an inquiry for a job or project, a general question, or something I didn't specify.<br>
		Drop me a line at <strong><a class="inline-link" href="mailto:hello@toripugh.com" target="_blank" title="hello@toripugh.com">hello@toripugh.com</a></strong>.</h3>
		<nav>
			<ul class="social-footer">
				<li><a href="https://twitter.com/teekatwo" target="_blank" title="Twitter">Twitter</a></li>
				<li><a href="https://dribbble.com/teekatwo" target="_blank" title="Dribbble">Dribbble</a></li>
				<li><a href="http://codepen.io/Vpugh/" target="_blank" title="Codepen">Codepen</a></li>
				<li><a href="https://github.com/vpugh" target="_blank" title="Github">Github</a></li>
				<li><a href="https://instagram.com/toripugh" target="_blank" title="Instagram">Instagram</a></li>
			</ul>
		</nav>
		<ul class="copyright">
			<li>© <script type="text/javascript">document.write(new Date().getFullYear());</script>  Tori Pugh. All Rights Reserved.
			</li>
		</ul>
	</div>
</div>