.grid {
    display: grid;
}

.grid-2-col {
    grid-template: auto / repeat(1, 1fr);

    @include breakpoint(tablet, min-width) {
        grid-template: auto / repeat(2, 1fr);
        grid-gap: 30px;
    }
}