.contact-form-container {
  display: flex;
  flex-direction: column;
  @media (min-width:1024px) {
    margin-top: 120px;
    width: 40%;
  }
  .contact-title {
    font-size: 30px;
    margin-bottom: 0;
    @media (min-width: 1024px) {
      font-size: 46px;
    }
  }
  .contact-subheader {
    margin-bottom: 40px;
    @media (min-width: 1024px) {
      font-size: 20px;
      margin-top: .5rem;
    }
  }
}

.contact-form {
  input, textarea {
    display: inline-block;
    border: solid 1px var(--buttonBorderBg);
    margin-bottom: 14px;
    padding: 12px 10px;
    border-radius: 4px;
    width: calc(100% - 20px);
    @media (min-width: 1024px) {
      width: 100%;
      
    }
  }
}