$textColor: var(--textColor);

.jumbotron-bg {
  background-color: var(--jumbotronBg);
  // background: linear-gradient(180deg, var(--jumbotronBg) 0%, var(--pageBgColor) 30%);
  background: linear-gradient(180deg, var(--jumbotronBg) 0%, var(--jumbotronBg) 74%, var(--pageBgColor) 100%);
  // padding-top: 200px;
  // height: 60vh;
  height: calc(100vh - 10rem);
  display: flex;
  align-items: flex-end;
  @media (min-width: 768px) {
    height: calc(100vh - 40rem);
    padding: 200px 0 0 0;
    height: 40vh;
    align-items: flex-start;
  }
  @media (min-width: 1200px) {
    height: 60vh;
  }
}

.jumbo-header {
  font-weight: 800;
  line-height: 1;
  font-size: 31px;
  @media (min-width: 768px) {
    font-size: 54px;
  }
  @media (min-width: 1200px) {
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 0;
  }
  @media (min-width: 1600px) {
    font-size: 6.25rem;
    line-height: 1;
  }
}

.jumbo-subheader {
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 1.6;
  margin-bottom: 0;
  @media (min-width: 1200px) {
    font-size: 1.75rem;
    margin-top: .75rem;
  }
  @media (min-width: 1600px) {
    font-size: 2.25rem;
    margin-top: 1.2rem;
  }
  .emphasize {
    font-style: italic;
    border-bottom: 3px solid rgba(#000, 0.2);
  }
}

.jumbo-buttons {
  margin-top: 53px;
  & .highlighted-btn {
    border: 2px solid var(--buttonBorderBg);
    background-color: var(--buttonBg);
    border-radius: 6px;
    padding: 12px 20px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    transition: 300ms ease-in-out;
    &:hover {
      opacity: 0.8
    }
  }
  & > a {
    border: 2px solid var(--textColor);
    border-radius: 6px;
    padding: 12px 20px;
    color: var(--textColor);
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    transition: 300ms ease-in-out;
    &:hover {
      background-color: var(--textColor);
      color: #fff;
    }
    &:last-child {
      margin-left: 20px;
    }
  }
}

.jumbo-text {
  width: 95%;
  @media (min-width: 768px) and (max-width: 1199px) {
    max-width: 540px;
  }
  @media (min-width: 1200px) {
  margin-top: 150px;
  margin-bottom: 50px;
  width: 749px;
  }
  @media (min-width: 1600px) {
    width: 1000px;
  }
}
