.jumbotron-bg {
  display: flex;
  align-items: flex-end;
  padding: 100px 0 0 0;
  @media (min-width: 768px) {
    align-items: flex-start;
  }
  @media (min-width: 1024px) {
    padding: 205px 0 105px 0;
  }
}

.jumbo-text {
  @media (min-width: 1024px) {
    max-width: 770px;
  }
}

.jumbo-header {
  font-size: 40px;
  line-height: 1.05;
  margin-bottom: 0;
  margin-top: 0;
  @media (min-width: 768px) {
    font-size: 58px;
  }
  @media (min-width: 1024px) {
    font-size: 76px;
  }
}

.jumbo-subheader {
  font-weight: 400;
  margin-top: 2.1875rem;
  line-height: 1.6;
  font-size: 16px;
  @media (min-width: 768px) {
    font-size: 18px;
  }
  @media (min-width: 1024px) {
    line-height: 1.5;
    width: 80%;
  }
}

.button-container-jumbotron {
  margin-top: 2.563rem; // 58px - 17 = 41
  @media (min-width: 768px) {
    & > .button:not(:last-child) {
      margin-right: 20px;
    }
  }
}