.blurb-container {
  @media (min-width: 1200px) {
    padding: 180px 0 120px 0;
  }
}

.blurb-title {
  @media (min-width: 1200px) {
    font-size: 36px;
  }
}

.blurb-text-container {
  @media (min-width: 1200px) {
    font-size: 24px;
    max-width: 80%;
  }
}