// work preview

.work-preview-container {
  display: grid;
  @media (min-width: 1200px) {
    grid-template: auto/repeat(2, 1fr);
    gap: 100px;
  }
  gap: 40px;
  margin-top: 80px;
}

.work-link {
  text-decoration: none;
  &:hover {
    .work-preview-image {
      transform: scale(1.02);
    }
    .work-preview-text {
      transform: translateY(-8px);
    }
  }
}

.work-preview-image {
  background-color: #000;
  max-width: 600px;
  height: auto;
  color: #fff;
  width: 100%;
  transition: 300ms ease-in-out;
}

.work-preview-text {
  transition: 300ms ease-in-out;
  .work-preview-title {
    margin-bottom: 0;
    // font-size: 39px;
    font-size: 28px;
    // line-height: 48px;
    line-height: 32px;
    color: var(--textColor);
  }
  .work-preview-description {
    font-size: 20px;
    line-height: 32px;
    color: var(--textColor);
    width: 80%;
  }
}