:root {
  --textColor: #000;
  --jumbotronBg: #000;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--textColor);
}

body {
  margin: 0;
  padding: 0;
}


// Utility styles
.container {
  width: 100%;
  max-width: 1300px;
  box-sizing: border-box;
  margin: 40px auto;
  padding: 0 20px;
  @media (min-width: 768px) {
    padding: 0 80px;
  }
}

// Header Navigation Styles

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-selector {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 6px;
  padding: 4px;
}

.logo {
  &:hover {
    transition: opacity 300ms ease-in-out;
    opacity: 0.5;
  }
  font-weight: 900;
  color: var(--textColor);
  font-size: 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.link-container {
  a {
    text-decoration: none;
    margin-right: 36px;
    // color: #573300;
    color: var(--textColor);
    font-size: 18px;
    border-bottom: 3px solid transparent;
    transition: 300ms ease-in-out;
    &:hover {
      // border-bottom-color: #573300;
      border-bottom-color: var(--textColor);
    }
  }
}

// jumbotron
.jumbotron-bg {
  background-color: var(--jumbotronBg);
  padding: 160px 0;
}

.jumbo-buttons {
  margin-top: 53px;
  & > a {
    border: 2px solid var(--textColor);
    border-radius: 6px;
    padding: 12px 20px;
    color: var(--textColor);
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    transition: 300ms ease-in-out;
    &:hover {
      background-color: var(--textColor);
      color: #fff;
    }
    &:last-child {
      margin-left: 20px;
    }
  }
}

.jumbo-text {
  margin: 0 200px;
  @media (min-width: 1600px) {
    margin: 0 250px;
  }
}