//@import "helpers/media-query";
@import "variables/breakpoints";

.nav-trigger {
  position: absolute;
  right: 5%;
  top: 22%;
  height: 44px;
  width: 44px;
  z-index: 100;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;

  // @include desktop {
  // 		display: none;
  // }
  @include breakpoint(tablet, min-width) {
    display: none;
  }
}

.cd-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  width: 32px;
  height: 3px;
  background-color: #000;
  z-index: 10;
  transition: 1s;
  
    &::before, 
    &::after {
  	  position: absolute;
  	  top: 0;
  	  left: 0;
  	  width: 100%;
  	  height: 100%;
  	  content:'';
  	  background-color: #000;
  	  -webkit-transform: translateZ(0);
  	  -moz-transform: translateZ(0);
  	  -ms-transform: translateZ(0);
  	  -o-transform: translateZ(0);
  	  transform: translateZ(0);
  	  -webkit-backface-visibility: hidden;
  	  backface-visibility: hidden;
  	  -webkit-transition: -webkit-transform .3s;
  	  -moz-transition: -moz-transform .3s;
  	  transition: transform .3s;
    }
    
    &::before {
  	  -webkit-transform: translateY(-7px) rotate(0deg);
  	  -moz-transform: translateY(-7px) rotate(0deg);
  	  -ms-transform: translateY(-7px) rotate(0deg);
  	  -o-transform: translateY(-7px) rotate(0deg);
  	  transform: translateY(-7px) rotate(0deg);
    }
    
    &:after {
  	  -webkit-transform: translateY(7px) rotate(0deg);
  	  -moz-transform: translateY(7px) rotate(0deg);
  	  -ms-transform: translateY(7px) rotate(0deg);
  	  -o-transform: translateY(7px) rotate(0deg);
  	  transform: translateY(7px) rotate(0deg);
    }
    
    &.is-clicked {
      background-color:rgba(0,0,0,0);
      transition: 0s;
    }
    
    &.is-clicked::before {
      top: 0;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    
    &.is-clicked::after {
      top: 0;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
}