// @import "helpers/media-query";
// @import "helpers/animations";

header {
	position: relative;
	width: 100%;
}

.navigation {
	margin: 0 auto;
	padding: 40px 0 20px 0;
	
	// @include breakpoint(tablet, min-width) {
	// 	padding-left: 30px;
	// 	padding-right: 30px;
	// }
	@include breakpoint(desktop, min-width) {
		padding: 46px 0;
		width: 82%;
		// padding: 40px 0 20px 0;
	}

	&--title {
		text-transform: uppercase;
		letter-spacing: 3px;

		@include breakpoint(mobile, max-width) {
			margin-bottom: 0;
		}
		@include breakpoint(tablet, min-width) {
			float: left;
		}
		@include breakpoint(tablet, max-width) {
			text-align: center;
			font-size: 24px;
		}
		@include breakpoint(tablet, min-width) {
			display: block;
		}
		
		// Mobile Menu Slide Open
		
		&.menu-is-open {
	    z-index: 4;
	    -webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		}
	}

	&--link {
		@include breakpoint(tablet, max-width) {
			display: block;
			height: 100vh;
		}
		@include breakpoint(desktop, min-width){
			border-right: 2px solid #d8d8d8;
			padding-right: 20px;
			margin-right: 10px;
		}
	}
	
	&--link_link {
		display: inline-block;
		padding-right: 10px;
		letter-spacing: 1.25px;

		@include breakpoint(tablet, max-width) {
			display: block;
			padding: 20px 0;
		}
		@include breakpoint(desktop, min-width) {
			font-size: 1.1rem;
			&:not(:first-child) {
				padding: 0 10px;
			}
		}
		@include breakpoint(xldesktop, min-width) {
			font-size: 1.2rem;
		}
		
		a {
			border-bottom: 2px solid transparent;
			padding-bottom: 2px;
			transition: ease-out 300ms;

			&:hover {
				border-color: color(text,base);
				
				opacity: .5;
			}
		}

		&.active a {
			border-color: color(text, base);
			transition: ease-out 300ms;
			color: color(text, gargoyles);
		}
	}
	
	nav {
		@include breakpoint(tablet, max-width) {
			width: 100%;
			background-color: color(background, grey);
			position: absolute;
			top: 0;
			text-align: center;
		}
		@include breakpoint(desktop, min-width) {
			float: right;
		}
	}
	
	&--social {
		font-size: 22px;
		padding: 0;
		margin: 0;
		display: inline-block;
		color: color(text, gargoyles);

		@include breakpoint(tablet, max-width){
			display: none;
		}
		
		li {

			display: inline-block;
			padding: 0 10px;
		}

		.fa {
			transition: ease-out 300ms;

			&:hover {
				color: color(text, pavement);
			}
		}
	}	
}