.hero {
	.intro-title {
		text-transform: uppercase;
		font-size: 14px;

		@include breakpoint(mobile, max-width) {
			text-align: center;
		}
		@include breakpoint(tablet, min-width) {
			padding-top: 40px;
			// padding-top: 12vh;
			margin-bottom: 2em;
		}
		@include breakpoint(desktop, min-width) {
			font-size: 18px;
			letter-spacing: 2px;
			padding-top: 40px;
		}
		@include breakpoint(xldesktop, min-width){
			padding-top: 100px;
			// padding-top: 40vh;
		}
	}

	.intro-line {
		@include breakpoint(mobile, max-width) {
			display: block;
			padding-bottom: 30px;
		}
		&:after {
			content: "";
			background: #ddd;
			height: 4px;
			display: inline-block;
			@include breakpoint(tablet, min-width) {
				text-align: center;
			}
			width: 48%;
			margin-bottom: 4px;
			margin-left: 10px;

			.blue & {
				background: color(blue, base);
			}

			.green & {
				background: color(green, base);
			}

			.orange & {
				background: color(orange, base);
			}
		}
	}
	
	&--title {
		line-height: 1.5;
		font-size: 1.6rem;
		font-weight: 800;
		
		@include breakpoint(mobile, max-width){
			padding-bottom: 20px;
		}
		@include breakpoint(tablet, min-width) {
			font-size: 2.6rem;
			line-height: 1.333;
			letter-spacing: 1px;
			padding-bottom: 6vh;
		}
		@include breakpoint(desktop, min-width) {
			font-size: 3.625rem;
			width: 90%;
			line-height: 1.2;
		}
		@include breakpoint(xldesktop, min-width) {
			font-size: 4rem;
		}

	}
	
	
	&--subtitle {
		font-weight: 300;
		padding-top: 1rem;
		line-height: 1.5;
		
		@include breakpoint(mobile, max-width){
			font-size: 1.1rem;
			padding-top: 2rem;
		}
		@include breakpoint(tablet, min-width) {
			font-size: 1.45rem;
			padding-top: 2rem;
		}
		@include breakpoint(desktop, min-width) {
			width: 82%;
			font-size: 1.625rem;
			padding-top: .5rem;
		}
		@include breakpoint(xldesktop, min-width) {
			padding-top: 2rem;
			font-size: 2rem;
		}
	}
}