{% extends "layout.njk" %}

{% block title %}Development Playground — {% endblock %}

{% block bodyid %}
{% set activePage = "work" %}
{% endblock %}

{% block hero %}
<section class="hero">
	<div class="container">
		<h2 class="hero--title freightdisplaysemibold">Developmental Playground</h2>
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<div class="playground container">
		<article class="pen">
			<p data-height="600" data-theme-id="0" data-slug-hash="jmrorY" data-default-tab="result" data-user="Vpugh" data-embed-version="2" data-pen-title="Color Palette - Add/Remove" class="codepen">See the Pen <a href="http://codepen.io/Vpugh/pen/jmrorY/">Color Palette - Add/Remove</a> by Tori (<a href="http://codepen.io/Vpugh">@Vpugh</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
		</article>
		<article class="pen">
			<p data-height="440" data-theme-id="0" data-slug-hash="xEGywr" data-default-tab="result" data-user="Vpugh" data-embed-version="2" data-pen-title="React Convert Plain Text to HTML" class="codepen">See the Pen <a href="http://codepen.io/Vpugh/pen/xEGywr/">React Convert Plain Text to HTML</a> by Tori (<a href="http://codepen.io/Vpugh">@Vpugh</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
		</article>
		<article class="pen">
			<p data-height="600" data-theme-id="0" data-slug-hash="yMErPz" data-default-tab="result" data-user="Vpugh" data-embed-version="2" data-pen-title="Type Test ---" class="codepen">See the Pen <a href="http://codepen.io/Vpugh/pen/yMErPz/">Type Test ---</a> by Tori (<a href="http://codepen.io/Vpugh">@Vpugh</a>) on <a href="http://codepen.io">CodePen</a>.</p>
			<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
		</article>
		<article class="pen">
			<p data-height="465" data-theme-id="0" data-slug-hash="jVZoPW" data-default-tab="result" data-user="Vpugh" data-embed-version="2" data-pen-title="Event Card - CSS Hover Text" class="codepen">See the Pen <a href="http://codepen.io/Vpugh/pen/jVZoPW/">Event Card - CSS Hover Text</a> by Tori (<a href="http://codepen.io/Vpugh">@Vpugh</a>) on <a href="http://codepen.io">CodePen</a>.</p>
			<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
		</article>
		<article class="pen">
			<p data-height="298" data-theme-id="0" data-slug-hash="pNRoVO" data-default-tab="result" data-user="Vpugh" data-embed-version="2" data-pen-title="Three.js Cube Test" class="codepen">See the Pen <a href="http://codepen.io/Vpugh/pen/pNRoVO/">Three.js Cube Test</a> by Tori (<a href="http://codepen.io/Vpugh">@Vpugh</a>) on <a href="http://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
		</article>
	</div>
</main>
{% endblock %}