<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Styleguide</title>
	<link rel="stylesheet" href="css/nstyle.css">
</head>
<body>
	<section>
		<div class="container">
			<h3>Buttons</h3>
			<a href="" class="btn base">Button - Regular</a>
			<a href="" class="btn orange">Button - Regular</a>
			<a href="" class="btn blue">Button - Regular</a>
			<a href="" class="btn green">Button - Regular</a>
			<a href="" class="btn full base">Button - Full</a>
			<a href="" class="btn full orange">Button - Full</a>
			<a href="" class="btn full blue">Button - Full</a>
			<a href="" class="btn full green">Button - Full</a>
			<div class="">
				<a href="" class="btn block base">Button - Block</a>
				<a href="" class="btn block base large">Button - Block</a>
				<a href="" class="btn block base small">Button - Block</a>
			</div>
			<div class="">
				<a href="" class="btn block orange">Button</a>
				<a href="" class="btn block orange large">Button - Large</a>
				<a href="" class="btn block orange small">Button - Small</a>
			</div>
			<div class="">
				<a href="" class="btn block blue">Button - Block</a>
				<a href="" class="btn block blue large">Button - Block</a>
				<a href="" class="btn block blue small">Button - Block Small</a>
			</div>
			<div class="">
				<a href="" class="btn block green">Button - Block</a>
				<a href="" class="btn block green large">Button - Block</a>
				<a href="" class="btn block green small">Button - Block</a>
			</div>
			
			
		</div>
	</section>
	<section>
		<div class="container">
			<h3>Colors</h3>
			<h4>Primary Color - Orange</h4>
			<h4>Primary Color - Blue</h4>
			<h4>Primary Color - Green</h4>
		</div>
	</section>
	
</body>
</html>