{% extends "templates/layout.njk" %}

{% block title %}About Me — {% endblock %}

{% set pageID = "about" %}

{% block hero %}
<section class="hero">
	<div class="container">
		<div class="avatar grid">
			<div class="avatar-img"></div>
			<p class="avatar-text">Always Learning and Eternally Inquisitive</p>
		</div>
		
		<h2 class="hero--title">Driven by curiosity and desire to make things work better.</h2>
		<a href="tori-resume.pdf" class="btn small block download">Download Resume</a>
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<div class="container">
		<h2 class="quote">
			I listen to understand a problem, do research to identify and/or confirm it, and then create solutions for them.
		</h2>
		<div class="left-main">
			<p>
				I’m a UI/UX developer who is passionate about creating products that puts the users first. I want to make products that run better and are easier for the user. I've had varied involvement as a visual designer, front-end developer, or email developer. I think there should always be an aspect of user-experience understanding in design, development, or email creation.
			</p>
			<p>
				I live by the idea of <em>&ldquo;design is more then making it pretty&rdquo;</em>. Design is the culmination of creation and execution of a solution; understanding your audience; and critical thinking skills to solve problems. This combination of thought and execution is what I find most enjoyable and rewarding. By combining my print skills, current knowledge, and with my inclination for digital design and coding this left me straddling the design and development line in an ever growing digital landscape.
			</p>
			<p>
				My greatest asset is my eternal passion for learning, due in part to my constant curiosity. I can learn new things at amazing speeds. I take great enjoyment in trying to find more efficient ways to create things and upcoming technologies. I’m always looking to expand my knowledge through online learning, classes, going to conferences, or reading articles.
			</p>
			<p>
				I share and interact on <a class="inline-link" href="https://twitter.com/teekatwo" rel=noopener" target=_blank">Twitter</a>; get inspired and showcase work on <a class="inline-link" href="https://dribbble.com/teekatwo" rel=noopener" target=_blank">Dribbble</a>; tinker and learn new code on <a class="inline-link" href="http://codepen.io/Vpugh/" rel=noopener" target=_blank">Codepen</a>; work on side projects on <a class="inline-link" href="https://github.com/vpugh" rel=noopener" target=_blank">Github</a>; and write when I can on <a class="inline-link" href="https://medium.com/@teekatwo" rel=noopener" target=_blank">Medium</a> or <a class="inline-link" href="https://dev.to/teekatwo" rel=noopener" target=_blank">Dev.to</a>. In my free time, I'm an avid reader with a ever-growing backlog of books or trying to get through my game collection for the PS4 (Red Dead Redemption 2, AC Odyssey, Tomb Raider).
			</p>
			<p>
				I've spoken at <a class="inline-link" href="https://www.youtube.com/watch?v=xHpZzXvwjwM&list=PLyLTyCCJDTTe5Ay6yOqiBW8KgZyKXRI5U&index=14" rel=noopener" target="_blank">Codeland 2018</a> and <a class="inline-link" href="https://wordpress.tv/2018/12/05/tori-pugh-the-importance-of-typography-design-usability-cost-and-loading-times/" rel=noopener" target="_blank">WordCamp Philly 2018</a>.
			</p>
		</div>
		<div class="right-sidebar">
			<p><span class="t">Development:</span><br>
			HTML, CSS/SASS, Javascript, Git, Gulp, Grunt, NodeJs, React, <span class="learning">Wordpress</span>, <span class="learning">Redux</span></p>
			<p><span class="t">Design</span><br>
			Responsive Web Design, UX/UI, Interaction Design, Typography, Branding, Prototyping, Email Design, Design Strategy</p>
			<p><span class="t">Tools</span><br>
			Sketch, Photoshop, Illustrator, InDesign, Dreamweaver, Coda, Sublime Text, GitHub, VSCode, Webstorm, SendGrid, <span class="learning">MailChimp</span>, <span class="learning">Affinity Designer</span></p>
			<p class="learning--text">*Learning</p>
		</div>
	</div>
</main>
{% endblock %}