{% extends "templates/layout.njk" %}

{% block title %}Blog — {% endblock %}

{% block bodyid %}
{% set activePage = "blog" %}
{% endblock %}

{% import 'data/articles.njk' as blogContent %}

{% block hero %}
<section class="hero">
	<div class="container">
		<h2 class="hero--title">Writings and Mental Musings</h2>
	</div>
</section>
{% endblock %}

{% block content %}
<main id="app">
	<section>
		<div class="container grid">
			<div class="grid grid-2-col">
				{% for item in blogContent.previews %}
        <div class="blog--posts">
          <a href="{{item.link}}" target="_blank">
            <div class="blog--cover lazyload" style="background-image: url('{{item.cover}}')"></div>
          </a>
          <div class="blog--text">
            <h2 class="blog--title">
              <a href="{{item.link}}" target="_blank">{{item.title}}</a>
            </h2>
            <p class="blog--subtitle">{{item.date}} | <em>{{item.source}}</em></p>
          </div>
        </div>
      {% endfor %}
			</div>
		</div>
	</section>
</main>
{% endblock %}