{% extends "templates/layout.njk" %}

{% set pageID="work" -%}

{% block hero %}
<section class="hero">
	<div class="container">
		<h2 class="hero--title">I’m Tori Pugh, a front-end developer &amp; designer who creates <a href="/solutions">solutions</a>, <a href="http://codepen.io/Vpugh/" target="_blank">codes</a> stuff, and <a href="https://dribbble.com/teekatwo" target="_blank">designs</a> things.</h2>
		<h3 class="hero--subtitle">
			I enjoy developing web systems and bringing consistence and order to front-end systems. My language of choice at the moment is Vue and I'm looking into Angular as well. I'm a huge fan of automation and strive to create systems that handle redundancy as much as possible.
		</h3>
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<section class="home-portfolio" id="design">
			<div class="featured-image">
				<div class="hover">
						<div class="featured-text">
							<h2>CDEWorld</h2>
							<p>Design &amp; Development</p>
							{# <p><em>View Case Study</em></p> #}
						</div>
					</div>
				<a href="/work/cdew-redesign">
					<img alt="" data-sizes="auto" class="lazyload blur-up"
 data-src="images/Thumbnails/thumb-cdew@1x.jpg" data-srcset="images/Thumbnails/thumb-cdew@1x.jpg 300w, images/Thumbnails/thumb-cdew.jpg 600w, images/Thumbnails/thumb-cdew@1x.jpg 600w">
					
				</a>
			</div>
			<div class="featured-image">
				<a href="/work/ucd">
					<div class="hover">
						<div class="featured-text">
							<h2>Updates in Clinical Dentistry</h2>
							<p>Email Design &amp; Development</p>
							{# <p><em>View Case Study</em></p> #}
						</div>
					</div>
					<img alt="" data-sizes="auto" class="lazyload"  data-src="images/Thumbnails/updates@1x.jpg"  data-srcset="images/Thumbnails/updates@1x.jpg 300w, images/Thumbnails/updates.jpg 600w, images/Thumbnails/updates@1x.jpg 600w">
					
				</a>
			</div>
			<div class="featured-image">
				<a href="/work/uniag">
					<div class="hover">
						<div class="featured-text">
							<h2>United Nations: Inter&#8209;Agency Games</h2>
							<p>Web Design &amp; Development</p>
							{# <p><em>View Project</em></p> #}
						</div>
					</div>
					<img alt="" data-sizes="auto" class="lazyload"  data-src="images/Thumbnails/IAG4-Home@1x.jpg"  data-srcset="images/Thumbnails/IAG4-Home@1x.jpg 300w, images/Thumbnails/IAG4-Home.jpg 600w,images/Thumbnails/IAG4-Home@1x.jpg 600w">
					
				</a>
			</div>
			<div class="featured-image">
				<a href="/work/tusdm">
					<div class="hover">
						<div class="featured-text">
							<h2>TUSDM</h2>
							<p>Email Design &amp; Development</p>
							{# <p><em>View Project</em></p> #}
						</div>
					</div>
					<img alt="" data-sizes="auto" class="lazyload"  data-src="images/Thumbnails/TuftsE-Home@1x.jpg"  data-srcset="images/Thumbnails/TuftsE-Home@1x.jpg 300w, images/Thumbnails/TuftsE-Home.jpg 600w, images/Thumbnails/TuftsE-Home@1x.jpg 600w">
					
				</a>
			</div>
			<div class="featured-image">
				<div class="hover">
						<div class="featured-text">
							<h2>Interstice</h2>
							<p>Theme Design &amp; Development</p>
							{# <p><em>View Project</em></p> #}
						</div>
					</div>
				<a href="/work/interstice">
					<img alt="" data-sizes="auto" class="lazyload"  data-src="images/Thumbnails/interstice@1x.jpg"  data-srcset="images/Thumbnails/interstice@1x.jpg 300w, images/Thumbnails/interstice.jpg 600w, images/Thumbnails/interstice@1x.jpg 600w">
					
				</a>
			</div>
			<div class="featured-image">
				<div class="hover">
						<div class="featured-text">
							<h2>Interstice</h2>
							<p>Theme Design &amp; Development</p>
							{# <p><em>View Project</em></p> #}
						</div>
					</div>
				<a href="/work/interstice">
					<img alt="" data-sizes="auto" class="lazyload"  data-src="images/Thumbnails/interstice@1x.jpg"  data-srcset="images/Thumbnails/interstice@1x.jpg 300w, images/Thumbnails/interstice.jpg 600w, images/Thumbnails/interstice@1x.jpg 600w">
					
				</a>
			</div>
	</section>
	{# <section class="blurb" id="about">
		<div class="text container">
			<h2>About Me</h2>
			<p>
				I have a passion for learning, design-thinking and problem-solving, these are skills learned and developed through my career. Combining the &ldquo;design is problem-solving&rdquo; mindset with the evolving nature of digital design and development is something I find very enjoyable and rewarding.
			</p>
			<p>
				I love to learn and am very open to learning things I don't already possess, it doesn't matter if it is a new technique or a program. I seek to find efficiency in things I create and making sure they benefit the end-user as much as I can. To this end, constant education is always happening.
				I learn at an amazing speed, whether its new techniques or programs. I enjoy trying to find more efficient ways to create things, and looking at new technologies. Always expanding my knowledge by learning online, taking classes or reading articles.
			</p>
			<p>
 				<a class="h-r-arrow" href="/about"><strong>Delve a bit deeper?</strong></a> 
			</p>
		</div>
	</section> #}
</main>
{% endblock %}