{% extends "templates/layout.njk" %}

{% set pageID = "home" %}

{% import 'data/articles.njk' as blogContent %}
{% import 'data/thumbnails.njk' as previewContent %}

{% block hero %}
<section class="hero">
	<div class="container">
		<p class="intro-title">UI/UX Front-End Developer <span class="intro-line"></span></p>
		<h2 class="hero--title">Creating <a href="/solutions">solutions</a>, <a href="http://codepen.io/Vpugh/" target="_blank">coding</a> stuff, and <a href="https://dribbble.com/teekatwo" target="_blank">designing</a> things.</h2>
	</div>
</section>
{% endblock %}
{% block content %}

<main id="app">
	<section id="design" class="home-portfolio">
		<div class="container grid grid-2-col">
      {% for thumbnail in previewContent.thumbnails %}
        <div class="featured-image">
          <a href="{{thumbnail.link}}">
            <img alt="" data-sizes="auto" class="lazyload blur-up" data-src="{{thumbnail.img1x}}" data-srcset="{{thumbnail.img1x}} 500w, {{thumbnail.img2x}} 1200w">
          </a>
          <div class="hover">
            <div class="featured--text">
              <h2 class="featured--type">{{thumbnail.type}}</h2>
              <p class="featured--title">{{thumbnail.title}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
		</div>
	</section>

  <section class="blurb">
    <div class="container">
      <div class="blurb-content">
        <h2 class="heading">Who am I?</h2>
        <div class="blurb-text">
          <h3 class="subheading">I create engaging and functional experiences and products. Also, develop solutions targeting the user and backed by data and research. Here are some quick points.</h3>
          <ul class="">
            <li class="circle-numbers one">
              <p>
                Enjoy the whole process of developing a product, from start to finish. I am mindful of the project as a whole, though I keep an eye on the small details within pieces as well.
              </p>
            </li>
            <li class="circle-numbers two">
              <p>
                Learn at amazing speeds, can be a program, software, etc. I enjoy finding efficient ways to create things and making sure they benefit the user as much as I can.
              </p>
            </li>
            <li class="circle-numbers three">
              <p>
                Love researching and finding the reason behind why people using something or do a certain action. These answers dictate how something should be made and making things more efficient for everyone.
              </p>
            </li>
            <li class="circle-numbers four">
              <p>
                Sometimes, to my detriment, I will keep at a problem until I solve it. If I can't solve it it will slowly drive me crazy trying to figure it out. It's a good and bad.
              </p>
            </li>
          </ul>
        </div>
        <div class="blurb-image">
          <img src="" alt="">
        </div>
        <a class="btn block" href="/about">Delve a bit deeper :)</a>
      </div>
    </div>
  </section>
  <section class="blog">
    <div class="container">
      <h2 class="heading">Writings and Mental Musings</h2>
      <h3 class="subheading">My most recent articles. My writing is varied, design lessons and technical knowledge. Things I've learned and techniques I use.</h3>
      <div class="grid grid-2-col">
      {% for item in blogContent.previews %}
        {% if loop.index < 7 -%}
        <div class="blog--posts">
          <a href="{{item.link}}" target="_blank">
            <div class="blog--cover lazyload" style="background-image: url('{{item.cover}}')"></div>
          </a>
          <div class="blog--text">
            <h2 class="blog--title">
              <a href="{{item.link}}" target="_blank">{{item.title}}</a>
            </h2>
            <p class="blog--subtitle">{{item.date}} | <em>{{item.source}}</em></p>
          </div>
        </div>
        {% endif %}
      {% endfor %}
      </div>
      <a class="btn block" href="/blog">Older Blog Posts</a>
    </div>
  </section>
</main>

{% endblock %}