{% extends "layout.njk" %}

{% block bodyid %}
{% set activePage = "home" %}
{% endblock %}

{% import 'data/articles.njk' as blogContent %}
{% import 'data/thumbnails.njk' as previewContent %}

{% block hero %}
<section class="hero">
	<div class="container">
		<p class="intro-title">UI/UX Developer &amp; Problem-Solver <span class="intro-line"></span></p>
		<h2 class="hero--title">Creating <a href="/solutions">solutions</a>, <a href="http://codepen.io/Vpugh/" target="_blank">coding</a> stuff, and <a href="https://dribbble.com/teekatwo" target="_blank">designing</a> things.</h2>
	</div>
</section>
{% endblock %}
{% block content %}

<main id="app">
	<section class="home-portfolio">
		<div class="container grid grid-2-col">
      {% for thumbnail in previewContent.thumbnails %}
			<div class="featured-image">
				<a href="{{ thumbnail.worklink }}">
				<img alt="" data-sizes="auto" class="lazyload blur-up" data-src="{{ thumbnail.img1x }}" data-srcset="{{ thumbnail.img1x }}">
				</a>
				<div class="hover">
					<div class="featured--text">
						<h2 class="featured--type">{{ thumbnail.type }}</h2>
						<p class="featured--title">{{ thumbnail.title }}</p>
					</div>
				</div>
			</div>
      {% endfor %}
		</div>
	</section>

  <section class="blurb">
    <div class="container">
      <div class="blurb-content">
        <h2 class="heading">A Little About Me</h2>
        <div class="blurb-text">
          <h3 class="subheading">I'm Tori Pugh. I create engaging experiences and products that function as well as they look. My solutions are made with the user in mind using data and research. Here are some quick points.</h3>
          <ul class="">
            <li class="circle-numbers one">
              <p>
                I love the whole process of developing a product, from start to finish. I am mindful of the project as a whole, though I keep an eye on the small details within pieces as well.
              </p>
            </li>
            <li class="circle-numbers two">
              <p>
                I learn at amazing speeds, can be anything (program, software, etc). I enjoy trying to find more efficient ways to create things and make sure they benefit the end-user as much as I can.
              </p>
            </li>
            <li class="circle-numbers three">
              <p>
                I enjoy researching to find the reason behind people using something or doing a certain action. These finds help dictate how something should be made and go towards making things more efficient for everyone.
              </p>
            </li>
            <li class="circle-numbers four">
              <p>
                I enjoy researching to find the reason behind people using something or doing a certain action. These finds help dictate how something should be made and go towards making things more efficient for everyone.
              </p>
            </li>
          </ul>
        </div>
        <div class="blurb-image">
          <img src="" alt="">
        </div>
        <a class="btn block" href="/about">Delve a bit deeper :)</a>
      </div>
    </div>
  </section>
  <section class="blog">
    <div class="container">
      <h2 class="heading">Writings and Mental Musings</h2>
      <h3 class="subheading">My most recent articles. My writing is varied, design lessons and technical knowledge. Things I've learned and techniques I use.</h3>
      <div class="grid grid-2-col">
      {% for item in blogContent.previews %}
        {% if loop.index < 7 -%}
        <div class="blog--posts">
          <a href="{{ item.link }}" target="_blank">
            <div class="blog--cover lazyload" style="backgroundImage: url({{ item.cover}}"></div>
          </a>
          <div class="blog--text">
            <h2 class="blog--title"><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h2>
            <p class="blog--subtitle">{{ item.date }} | {{ item.source }}</p>
          </div>
        </div>
        {% endif %}
      {% endfor %}
      </div>
      {# <div class="grid grid-2-col">
        <div class="blog--posts" v-for="posts in articles.slice(0, 6)">
          <a :href="posts.link" target="_blank">
            <div class="blog--cover lazyload" :style="{ backgroundImage: 'url(' + posts.cover + ')' }"></div>

          </a>
          <div class="blog--text">
            <h2 class="blog--title"><a :href="posts.link" target="_blank">{% raw %}{{ posts.title }}{% endraw %}</a></h2>
            <p class="blog--subtitle">{% raw %}{{ posts.date }}{% endraw %} | {% raw %}{{ posts.source }}{% endraw %}</p>
          </div>
        </div> #}
      </div>
      <a class="btn block" href="/blog">Older Blog Posts</a>
    </div>
  </section>
</main>

{% endblock %}