body {
	//font-family: "woodford_bourneregular", Helvetica, Arial, sans-serif;
	font-family: "canada-type-gibson", Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.5em;
	background-color: #EFEFEF;
	color: #3E3E3E;
	margin: 0;
	padding: 0;
	&:after {
		content: '';
		background-image: url(../images/v.gif?ct=207496,207496,207496,207496&r=85135&p=81830&h=orapIjEVB68dIuU2ouqZcA%3d%3d)
	}
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
*, :after, :before {
    box-sizing: border-box;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}