.btn {
	padding: 10px 35px;
    color: #242424;
    display: block;
    margin-right: 20px;
    font-size: 1.125em;
    transition: ease-in-out 250ms;
    cursor: pointer;
    text-decoration: none;
    &.full {
	    padding: 35px;
	    //margin: 60px 0 0;
	    text-align: center;
	    margin: 0;
    }
    &:hover {
	    background-color: #3E3E3E;
	    color: #fff;
    }
    &.block {
	   	display: inline-block;
	   	padding: 9px 34px 7px 34px;
	   	border: 1px solid #3e3e3e;
	   	font-size: 1em;
    }
}