@import '../modules/variables';

.orange {
	.colored .hero, main.homepage {
		background-color: $orange;
	}
	.blurb h2:after, .blurb h4:after {
		background-color: $orange;
	}
	.hover {
		background: rgba($orange, .96);
	}
	p a {
		color: $orange;
	}
	#footer {
		background-color: $orange;
	}
}
.blue {
	.colored .hero, main.homepage {
		background-color: $blue;
	}
	.blurb h2:after, .blurb h4:after {
		background-color: $blue;
	}
	.hover {
		background: rgba($blue, .96);
	}
	p a {
		color: $blue;
	}
	#footer {
		background-color: $blue;
	}
}
.green {
	.colored .hero, main.homepage {
		background-color: $green;
	}
	.blurb h2:after, .blurb h4:after {
		background-color: $green;
	}
	.hover {
		background: rgba($green, .96);
	}
	p a {
		color: $green;
	}
	#footer {
		background-color: $green;
	}
}