main {
	//padding: 25px 0;
	position: relative;
	background-color: #fff;
	#design &,
	#development &,
	#work & {
		padding-bottom: 60px;
	}
	// @include tablet {
	// 	padding: 70px 0;
	// }
	// @include desktop {
	// 	padding: 40px 0;
	// }
	#about &, &.colored {
		padding: 0;
	}
	&.homepage {
		background-color: darken(#efefef, 10%);
	}
}
.section-header {
	font-size: 18px;
	margin-bottom: 36px;
}
.home-portfolio {
	max-width: 94%;
	width: 90%;
	margin: 40px auto;
	overflow: hidden;
	padding-top: 40px;
}
.featured-image {
	position: relative;
	overflow: hidden;
	line-height: 0;
	width: 100%;
	// a {
	// 	display: inline-table;
	// }
	@include tablet {
		width: 48%;
		float: left;
		margin-bottom: 4%;
		&:nth-child(odd) {
			margin-right: 4%;
		}
	}
	&--text {
		padding-top: 24px;
		color: #3E3E3E;
		margin: 0;
		h2 {
			font-size: 24px;
			margin: 0;
			&:before {
				content: "— ";
			}
		}
		p {
			margin: 12px 0 0;
		}
	}
}
.hover {
    opacity: 0;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .92);
    width: 100%;
    height: 100%;
    transition: opacity .4s ease-in-out;
    display: flex;
}
.featured-image .hover:hover {
	opacity: 1;
}
.featured-text {
	padding: 0 30px;
	flex: 1;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	h2 {
		font-size: 24px;
		margin-bottom: .25em;
		line-height: 1.1em;
		letter-spacing: 1.25px;
		@include tablet {
			font-size: 38px;
		}
		@include desktop {
			font-size: 30px;
		}
	}
	h3 {
		font-size: 16px;
		font-weight: 300;
		line-height: 1.3em;
		@include tablet {
			font-size: 18px;
		}
		@include desktop {
			font-size: 16px;
		}
	}
}
img.lazy {
	display: block !important;
}