/*
.sidebar {
    position: absolute;
    top: 0;
    @include desktop {
    width: 250px;
    float: left;
    }
    h2 {
	    margin-top: 0 !important;
    }
    li {
	    @include max-tablet {
		    display: inline-block;
	    }
	    margin-bottom: 6px;
	    line-height: 1.25em;
    }
}
.left {
    left: 0;
    margin-right: 25px;
    //margin-left: 150px;
}
.sidebar-margin-left {
	margin-left: 275px;
}
*/

/*
.sidebar {
	ul {
		
	}
	li {
		list-style: none;
		width: 50%;
		float: left;
		&:nth-child(odd) {
			margin-right: 1%;
		}
	}
}
*/