#about {
	main {
		background-color: color(background, white);
		padding: 2rem 0;
		@include breakpoint(desktop, min-width) {
			padding: 4rem 0 6rem 0;
		}
		
	}
	.intro-title {
		padding: 0;
		@include breakpoint(tablet, max-width) {
			text-align: center;
		}
	}
	.hero--title {
		width: 100%;
		@include breakpoint(mobile, max-width) {
			padding-top: 10px;
			text-align: center;
		}
		@include breakpoint(tablet, max-width) {
			text-align: center;
		}
	}
	.download {
		margin-bottom: 80px;
		@include breakpoint(mobile, max-width) {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			display: block;
		}
		@include breakpoint(tablet, max-width) {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			display: block;
		}
	}

	.quote {
		@include breakpoint(mobile, max-width) {
			margin: 0;
			text-align: left;
		}
	}
}
.left-main {
	width: 100%;
	@include breakpoint(tablet, min-width) {
		float: left;
		width: 60%;
	}
	@include breakpoint(xldesktop, min-width) {
		width: 58%;
	}
}
.right-sidebar {
	width: 100%;
	background: color(background, dusty);
	padding: 30px;
	color: color(text, pavement);

	.t {
		color: color(text,gris);
		font-weight: 600;
		display: inline-block;
		margin-bottom: .2em;
	}

	@include breakpoint(tablet, min-width) {
		float: right;
		width: 35%;
	}
	@include breakpoint(xldesktop, min-width) {
		width: 30%;
	}
}
.text {
	p {
		margin-bottom: 1.3em;
	}
	a {
		border-bottom: 2px solid color(text, base);
		transition: border 300ms ease-out;
		&:hover {
			border-color: transparent;
		}
	}
}
.learning {
	&:before,
	&::before {
		content: "*";
		color: red;
	}
	&--text {
		font-size: .6em;
		color: red;
		text-transform: uppercase;
		letter-spacing: 1px;
		@include breakpoint(tablet, max-width) {
			line-height: 1.5rem;
		}
	}
}
.mypic::before {
	content: '';
	background-image: url('../../images/pic.jpg');
	width: 100px;
	height: 100px;
	display: block;
	background-size: cover;
	background-position: 50% 70%;
	border-radius: 50%;
	@include breakpoint(mobile, max-width) {
		margin: 14px auto 24px auto;
	}
	@include breakpoint(tablet, max-width) {
		margin: 70px auto 24px auto;
	}
	@include breakpoint(desktop, min-width) {
		margin-top: 100px;
		margin-bottom: 20px;
	}
}