#blog {
	main {
		background-color: color(background, grey);
		padding: 6rem 0 4rem 0;
	}
	.body {
		width: 100%;
		@include breakpoint(mobile, max-width) {
			margin-top: 0;
		}
    }
    .hero--title {
		padding-bottom:10vh;
		
		@include breakpoint(mobile, max-width) {
			margin-top: 14px;
		}
		@include breakpoint(tablet, max-width) {
			margin-top: 70px;
		}
		@include breakpoint(desktop, min-width) {
			margin-top: 100px;
			margin-bottom: 20px;
		}
    }
}