#work {

	.navigation {
		&--link_link.active a {
			color: color(text, white);
			border-color: color(text, grey);
		}
		&--social {
			color: color(text, white);
			opacity: .75;
			.fa:hover {
				color: color(text, dusty);
				opacity: .5;
			}
		}
	}

	main {
		background-color: color(background, base);
		padding: 2rem 0;
		@include breakpoint(desktop, min-width) {
			padding: 0 0 6rem 0;
		}
	}

	.hero {
		@include breakpoint(desktop, min-width) {
			padding-bottom: 0;
		}
	}

	.hero--title {
		width: 100%;
		@include breakpoint(mobile, max-width) {
			padding-top: 10px;
			text-align: center;
		}
		@include breakpoint(tablet, min-width) {
			padding-top: 16vh;
			padding-bottom: 0;
		}
	}

	.hero--subtitle {
		width: 100%;
		font-weight: 400;

		@include breakpoint(desktop, min-width) {
			padding-bottom: 8vh;
			font-size: .95em;
		}
	}

	#footer {
		color: color(text, white);
	}

	.copyright {
		color: color(text, white);
	}

	.nav--link a:hover {
		border-color: #fff;
		color: color(text,white);
	}
	.navigation .nav--link.active a {
		color: color(text,white);
		border-color: color(text, white);
		opacity: .5;
	}
	.body .subhead {
		font-weight: 600;
	}
	.navigation .soc svg {
		fill: #fff;
		transition: ease-out 300ms;
	}
	.navigation .soc svg:hover {
		fill: rgba(#fff, .5);
	}
	.social {
		color: color(text, white);
		opacity: .65;
	}
	.navigation,
	.hero {
		color: color(text, white);
	}
	.link-nav {
		border-color: color(text, white);
	}
	&.orange {
		background-color: color(orange, dark);
	}
	&.blue {
		background-color: color(blue, dark);
	}
	&.green {
		background-color: color(green, dark);
	}
}


.intro-block {
	background-color: color(background, white);
	// letter-spacing: .5px;

	.left-main {
		padding-left: 0;

		p {
			margin: 0;
		}
	}
	.right-sidebar {
		padding: 0;
		background: transparent;

		span {
			font-style: italic;
			font-size: .9em;
			line-height: 80%;
			display: block;
		}
	}

	@include breakpoint(mobile, max-width) {
		
		padding: 3rem 0 1.5rem 0;
		// margin-bottom: 4rem;
		
		.left-main {
			font-size: 1.1rem;
			line-height: 1.6;
			padding: 1em 0;
		}
		
		.right-sidebar p {
			margin-bottom: 1rem;
		}
	}
	
	@include breakpoint(tablet, max-width) {
		
		padding: 60px 0;
		
		.left-main {
			font-size: 18px;
			line-height: 1.4;
			width: 100%;
		}
		
		.right-sidebar p {
			margin-bottom: 1rem;
			width: 100%;
		}
	}
	
	@include breakpoint(desktop, min-width) {
		
		padding: 55px 0 65px 0;
		
		.left-main {
			font-size: 20px;
			line-height: 1.4;
		}
		
		.right-sidebar p {
			font-size: 20px;
			margin-bottom: 1rem;
		}
	}

	@include breakpoint(xldesktop, min-width) {
		padding: 55px 0;

		.right-sidebar p {
			margin-bottom: 0;
		}
	}
	
}

.body {
	margin: 0 auto;
	width: 80%;
	&:not(:last-child) {
		padding-bottom: 4rem;
	}
	img:not(:last-child) {
		padding-bottom: 3rem;
	}

	@include breakpoint(mobile, max-width) {
		margin-top: 4rem;
	}

	@include breakpoint(tablet, min-width) {
		width: 80%;
		margin-top: 7rem;
	}
	
	@include breakpoint(desktop, min-width) {
		width: 634px;
	}
	

	@include breakpoint(xldesktop, min-width) {
		width: 37%;
	}
	.subhead,
	.subhead--sub {
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 2em 0 1em;
		color: color(text, onyx);
	}
	.subhead--sub {
		margin: 1em 0 .5em;	
		font-size: 1.1rem;
	}
	p {
		line-height: 1.5;
		font-size: 1rem;

		@include breakpoint(tablet, min-width) {
			font-size: 1.5rem;
		}
	}
	a {
		border-bottom: 2px solid color(text, base);
		transition: border 300ms ease-out;
		&:hover {
			border-color: transparent;
		}
	}
}


.full-image {
	width: 100%;
	margin: 5rem auto 0;
	text-align: center;
}
.half-image {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	@include breakpoint(xldesktop, min-width) {
		width: 90%;
	}

	img {
		width: 49%;
		@include breakpoint(tablet, max-width) {
			width: 100%;
		}
	}
}

.full-image,
.half-image {
	.quote {
		width: 70%;
		margin: 30px auto 0 auto;
	}

	iframe {
		display: inline-block !important;
	}
}