{% set thumbnails = [
  {
    "link": "/work/ucd",
    "img1x": "images/Thumbnails/updates@1x.jpg",
    "img2x": "images/Thumbnails/updates@2x.jpg",
    "type": "Case Study",
    "title": "UCD Email Series-test"
  },
  {
    "link": "/work/cdew-redesign",
    "img1x": "images/Thumbnails/cdeworld-2@1x.jpg",
    "img2x": "images/Thumbnails/cdeworld-2@2x.jpg",
    "type": "Case Study",
    "title": "CDEWorld Redesign"
  },
  {
    "link": "/work/pomodoro",
    "img1x": "images/Thumbnails/pomodoro-thumb.jpg",
    "img2x": "images/Thumbnails/pomodoro-thumb.jpg",
    "type": "Github Pages - App",
    "title": "Pomodoro Timer App"
  },
  {
    "link": "/work/invoice",
    "img1x": "images/Thumbnails/invoice-thumb.jpg",
    "img2x": "images/Thumbnails/invoice-thumb.jpg",
    "type": "CodePen",
    "title": "Invoice Time App"
  },
  {
    "link": "/work/emailgui",
    "img1x": "images/Thumbnails/emailgui-thumb.jpg",
    "img2x": "images/Thumbnails/emailgui-thumb.jpg",
    "type": "CodePen",
    "title": "Email Workflow GUI"
  },
  {
    "link": "/work/vpdesigns",
    "img1x": "images/Thumbnails/vpdesigns-thumb.jpg",
    "img2x": "images/Thumbnails/vpdesigns-thumb.jpg",
    "type": "Case Study",
    "title": "VP-Designs"
  },
  {
    "link": "/work/uniag",
    "img1x": "images/Thumbnails/iagny@1x.jpg",
    "img2x": "images/Thumbnails/iagny@2x.jpg",
    "type": "Case Study",
    "title": "United Nations: Inter-Agency Games"
  },
  {
    "link": "/work/newsletters",
    "img1x": "images/Thumbnails/email-templates@1x.jpg",
    "img2x": "images/Thumbnails/email-templates@2x.jpg",
    "type": "Case Study",
    "title": "Email Templates"
  }
]%}