#solutions {
	main {
		background-color: color(background, white);
		padding: 6rem 0;
	}
	.body {
		width: 100%;
		@include breakpoint(mobile, max-width) {
			margin-top: 0;
		}
	}

	.hero {
		padding: 0 0 6rem 0;
		
		@include breakpoint(tablet, min-width) {
			padding: 3rem 0 6rem 0;
		}
		
		&--title {
			padding-top: 5.5rem;
			padding-bottom: 1rem;
		}	
	}
}

.secondary-subtitle {
	line-height: 1.1em;

	@include breakpoint(mobile, max-width) {
		margin-bottom: 20px;
		font-size: 2rem;
	}
	@include breakpoint(tablet, min-width) {
		width: 40%;
		float: left;
		font-size: 3rem;
		
		&:after {
			content: "";
			display: block;
			width: 20%;
			height: 6px;
			background-color: #ddd;
			margin-top: 15px;
		}	
	}
}
.secondary-body {
	@include breakpoint(mobile, max-width) {
		font-size: 1.1rem;
		line-height: 1.6;
	}
	@include breakpoint(tablet, min-width) {
		width: 55%;
		float: right;
	}
}

.text-divider {
	margin-bottom: 40px;
	@include breakpoint(tablet, min-width) {
		margin-bottom: 80px;
	}
	
	&:after,
	&:before {
		display: table;
		content: "";
		clear: both;
	}
}