{% extends "templates/secondary-layout.njk" %}

{% block title %}Various Emails | Email Design &mp; Development — {% endblock %}

{% block bodyid %}
{% set activePage = "work" %}
{% endblock %}

{% block hero %}
<section class="hero">
	<div class="container">
		<h2 class="hero--title">Various Emails</h2>
		<h3 class="hero--subtitle">Series of emails that were created, some are related and some are one-offs.</h3>
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<section class="intro-block">
		<div class="container">
			<div class="right-sidebar">
				<p>
					<strong>Client:</strong> CDEWorld
				</p>

				<p>
					<strong>Role:</strong> Designer, Developer
				</p>

				<p>
					<strong>Deliverable:</strong> Emails
				</p>
			</div>
			<div class="left-main">
				<p>
					 CDEWorld had new events and I was tasked with creating emails that would advertise them. This is a collection of various event emails that were produced. The main task would be to replicate the design and feel of the Partner while making it an easy email to develop in a short time.
				</p>
			</div>
			
		</div>
	</section>
	<div class="body">
		<h3 class="subhead">Straumann Event - Fort Lauderdale</h3>
		<p>
			This email series utiulized a simple, non-dynamic template that would reflect the basic company email design but left room to create the different series designed templates. When creating emails rapidly with these needs I created this template. I manually updated the course content for each series.
		</p>
		<p>
			This was a one-off event and didn't require a deep suite of emails.
		</p>
	</div>
	<div class="full-image">
		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyload" 
		src="data:image/gif;base64,
		R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
		data-srcset="../images/gallery/newsletters/straumann-event.png 480w,
		../images/gallery/newsletters/straumann-event.png 600w,
		../images/gallery/newsletters/straumann-event.png 900w">
		
		<h2 class="quote">Using the company template that I had created, it looked relatable to the content we would normally send but it's branded very consistently for this event.</h2>
	</div>
	<div class="body">
		<h3 class="subhead">Clinical Mastery Series</h3>
		<p>
			This email series utiulized a simple, non-dynamic template that would reflect the basic company email design but left room to create the different series designed templates. When creating emails rapidly with these needs I created this template. I manually updated the course content for each series.
		</p>
		<p>
			A new partnership for the live events joined and I was responsible for creating emails for their upcoming events. The main task was to replicate the design look and feel of Clinical Mastery Series. From there it was keeping the layout and feel consistency across the multiple pieces they had for the event. Each different course used a different color to signify it's own course branding, this was taken from their promotional materials and website.
		</p>
	</div>
	<div class="full-image">
		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyload" 
		src="data:image/gif;base64,
		R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
		data-srcset="../images/gallery/newsletters/cms-occlusion-01.png 480w,
		../images/gallery/newsletters/cms-occlusion-01.png 600w,
		../images/gallery/newsletters/cms-occlusion-01.png 900w">

		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyload" 
		src="data:image/gif;base64,
		R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
		data-srcset="../images/gallery/newsletters/cms-occlusion-02.png 480w,
		../images/gallery/newsletters/cms-occlusion-02.png 600w,
		../images/gallery/newsletters/cms-occlusion-02.png 900w">
		
		<h2 class="quote">The full suite of emails for the event. This is just one of the courses they were offering. Each different course was a seperate color.</h2>
	</div>
	<div class="body">
		<h3 class="subhead">Tufts University School of Dental Medicine Series</h3>
		<p>
			This email series utiulized a simple, non-dynamic template that would reflect the basic company email design but left room to create the different series designed templates. When creating emails rapidly with these needs I created this template. I manually updated the course content for each series.
		</p>
		<p>
			A new partnership come onboard for the partner portals, an educational section of events. I was responsible for creating emails that would advertise Tufts University School of Dental Medicine upcoming events. This was an extensive and long-term commitment, the emails sent out were quarterlies, reminders, and last chances.
		</p>
	</div>
	<div class="full-image">
		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyload" 
		src="data:image/gif;base64,
		R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
		data-srcset="../images/gallery/newsletters/tusdm-website.png 480w,
		../images/gallery/newsletters/tusdm-website.png 600w,
		../images/gallery/newsletters/tusdm-website.png 900w">

		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyload" 
		src="data:image/gif;base64,
		R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
		data-srcset="../images/gallery/newsletters/tusdm-templates.png 480w,
		../images/gallery/newsletters/tusdm-templates.png 600w,
		../images/gallery/newsletters/tusdm-templates.png 900w">
		
		<h2 class="quote">The website to match the emails to. The full suite of emails for this partnership, a simple 3 template series.</h2>
	</div>

</main>
{% endblock %}