{% extends "templates/secondary-layout.njk" %}

{% block title %}TUSDM | Email Design &mp; Development — {% endblock %}

{% set pageID="work" -%}

{% block hero %}
<section class="hero">
	<div class="container">
		<h2 class="hero--title">TUSDM Email Template</h2>
		<h3 class="hero--subtitle">Creating a unified email system for deeper student communication and all encompassing branding</h3>
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<section class="intro-block">
		<div class="container">
			<div class="right-sidebar">
				<p>
					<strong>Client:</strong> CDEWorld
				</p>

				<p>
					<strong>Role:</strong> Designer, Developer
				</p>

				<p>
					<strong>Deliverable:</strong> Email Template
				</p>
			</div>
			<div class="left-main">
				<p>
					 CDEWorld had a new partnership come onboard for their partner portals. I was tasked with creating emails that would advertise Tufts University School of Dental Medicine upcoming events. The main task would be to replicate the design and feel of Tufts while making it an easy email to develop in a short time.
				</p>
			</div>
			
		</div>
	</section>
	<div class="body">
		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyload" 
		src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
		data-srcset="../images/gallery/tufts/tufts-announcement@5x.jpg 480w,
		../images/gallery/tufts/tufts-announcement@1x.jpg 600w,
		../images/gallery/tufts/tufts-announcement@2x.jpg 900w">
		
		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyload" 
		src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
		data-srcset="../images/gallery/tufts/tufts-time-is-running-out@5x.jpg 480w,
		../images/gallery/tufts/tufts-time-is-running-out@1x.jpg 600w,
		../images/gallery/tufts/tufts-time-is-running-out@2x.jpg 900w">
		
		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyload" 
		src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
		data-srcset="../images/gallery/tufts/tufts-last-chance@5x.jpg 480w,
		../images/gallery/tufts/tufts-last-chance@1x.jpg 600w,
		../images/gallery/tufts/tufts-last-chance@2x.jpg 900w">
		
	</div>
</main>
{% endblock %}