{% extends "templates/secondary-layout.njk" %}

{% block title %}Updates in Clinical Dentistry 2016 | Email Design &mp; Development — {% endblock %}

{% block bodyid %}
{% set activePage = "work" %}
{% endblock %}

{% block hero %}
<section class="hero">
	<div class="container">
		<h2 class="hero--title">Updates in Clinical Dentistry 2016 Series</h2>
		<h3 class="hero--subtitle">Creation of an email system for ease of deployment and maximum recipient engagement.</h3>
	</div>
</section>
{% endblock %}

{% block content %}
<main>
	<section class="intro-block">
		<div class="container">
			<div class="right-sidebar">
				<p>
					<strong>Client:</strong><br>
					Updates in Clinical Dentistry
				</p>

				<p>
					<strong>Role:</strong><br>
					Designer, Developer
				</p>

				<p>
					<strong>Deliverable:</strong><br>
					Email Series
				</p>
			</div>
			<div class="left-main">
				<p>
					 The creation of an email system/series that could accomodate an event targeting multiple cities while also maintaining brand consistency; easily reproducable for other cities; and is quick to create and deploy.
				</p>
			</div>
			
		</div>
	</section>
	<div class="body">
		<h3 class="subhead">Background</h3>
		<p>
			CDEWorld, one of the fastest growing online continuing dental education sites and a global leader in dental e-knowledge transfer. Their mission: to be the site of choice for oral healthcare professionals worldwide to source and complete their continuing professional development needs.
		</p>
		{#<div class="full-image">
		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyload" 
		src="data:image/gif;base64,
		R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
		data-srcset="http://victoriapugh.net/images/gallery/updates/National.png 480w,
		http://victoriapugh.net/images/gallery/updates/National.png 600w,
		http://victoriapugh.net/images/gallery/updates/National.png 900w">
		</div>#}
	</div>
	<div class="full-image">
		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyload" 
		src="data:image/gif;base64,
		R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
		data-srcset="http://victoriapugh.net/images/gallery/updates/National.png 480w,
		http://victoriapugh.net/images/gallery/updates/National.png 600w,
		http://victoriapugh.net/images/gallery/updates/National.png 900w">
	</div>
	<div class="body">
		<h3 class="subhead">My Approach</h3>
		<p>
			I needed an overarching layout of all possible emails that could be sent. This broke down into 3 different groups&mdash;National/Regional, Registrants, and CE. 
		</p>
		<p>
			<strong>The National/Regional</strong> group would be the marketing driven emails. These are meant to entice and be informative, potentially play up the location and speakers. 
		</p>
		<p>
			<strong>The Registrants</strong> group is general emails sent to people who have already registered. These emails are simple as reminders of upcoming dates or alerts on a change of venue. These would be more simple in format due to their need to pass crucial information versus marketing. 
		</p>
		<p>
			<strong>The CE reminder</strong> group are emails sent to the attendees after the event. The attendees would get email reminders to take their free courses and get their credits. These emails would also be more crucial information versus marketing, as such they would be more text heavy.
		</p>
	</div>
	<div class="full-image">
		<img alt="" 
		data-sizes="auto" 
		class="blur-up lazyautosizes lazyload" 
		src="data:image/gif;base64,
		R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
		data-srcset="http://victoriapugh.net/images/gallery/updates/national-regional.jpg 480w,
		http://victoriapugh.net/images/gallery/updates/national-regional.jpg 600w,
		http://victoriapugh.net/images/gallery/updates/national-regional.jpg 900w">
		<h2 class="quote">The Regional group of emails — maintaining consistency and making each email different enough to not appear to be the same email.</h2>
	</div>
	<div class="body">
		<h3 class="subhead">Research</h3>
		<p>
			I started my research by subscribing to as many conference email lists as I could to see what other people were doing. I also found a great resource in <a href="http://reallygoodemails.com" target="_blank">reallygoodemails.com</a> and took note of some of the features of the emails such as subheaders, titles, buttons, and images. With the combined knowledge of how other conferences handle their emails and general good and eye-catching design. I started piecing together ideas on the general layouts.
		</p>
		<h3 class="subhead">Wireframes & Prototypes</h3>
		<p>
			Using the information and patterns I obtained from my research I set off to start building numerous layouts. An emphasis was placed on the location of the events for the Regional group of emails, so the main image for these emails were of utmost importance. Then with more data available, speakers, dates, times, and hotel addresses I could better estimate the space being taken up and have more accurate prototypes.
		</p>
		<h4 class="subhead--sub">Prototypes</h4>
		<p>
			<a class="prototype--link" href="http://aegispublications.com/news/cdeworld/2016/events/updates/03/CS-E2.html" target="_blank">Florida - E2</a>
			<a class="prototype--link" href="http://aegispublications.com/news/cdeworld/2016/events/updates/05/NC-E3.html" target="_blank">North Carolina - E3</a>
			<a class="prototype--link" href="http://aegispublications.com/news/cdeworld/2016/events/updates/03/E4.html" target="_blank">New Jersey - E4</a>
			<a class="prototype--link" href="http://aegispublications.com/news/cdeworld/2016/events/updates/06/IN-E5.html" target="_blank">Indianapolis - E5</a>
			<a class="prototype--link" href="http://aegispublications.com/news/cdeworld/2016/events/updates/06/OH-E7.html" target="_blank">Ohio - E7</a>
			<a class="prototype--link" href="http://aegispublications.com/news/cdeworld/2016/events/updates/08/TN-E8.html" target="_blank">Tennesse - E8</a>
		</p>
	</div>
	<div class="full-image">
		<img src="http://victoriapugh.net/images/gallery/updates/registrant-sample.jpg" alt="">
		<img src="http://victoriapugh.net/images/gallery/updates/ce-sample.jpg" alt="">
	</div>
</main>
{% endblock %}