<a href="#0" class="sttop is-visible"><span class="sr-only">Back to Top</span>Top</a>
<div id="footer">
	<div class="container">
		<nav class="social-footer">
			<ul>
				<li><a href="https://twitter.com/teekatwo" target="_blank" title="Twitter">Twitter</a></li>
				<li><a href="https://dribbble.com/teekatwo" target="_blank" title="Dribbble">Dribbble</a></li>
				<li><a href="http://codepen.io/Vpugh/" target="_blank" title="Codepen">Codepen</a></li>
				<li><a href="https://github.com/vpugh" target="_blank" title="Github">Github</a></li>
				<li><a href="mailto:hello@toripugh.com" target="_blank" title="hello@toripugh.com">hello@toripugh.com</a></li>
			</ul>
		</nav>
		<p class="copyright">
			© <script type="text/javascript">document.write(new Date().getFullYear());</script>  Victoria Pugh. All Rights Reserved.
		</p>
	</div>
</div>