<header>
	<div class="gradient-border"></div>
	<div class="navigation">
		<div class="container">
			<nav class="navigation--social">
				<ul>
					<li><a href="https://twitter.com/teekatwo" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="http://codepen.io/Vpugh/" target="_blank" title="Codepen"><i class="fa fa-codepen"></i></a></li>
					<li><a href="https://dribbble.com/teekatwo" target="_blank" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
					<li><a href="https://github.com/vpugh" target="_blank" title="Github"><i class="fa fa-github"></i></a></li>
				</ul>
			</nav>
			<nav class="navigation--main">
				<ul>
					{# <li class="nav--link"><a href="/">Home</a></li>
					<li class="nav--link"><a href="/#design">Design</a></li>
					<li class="nav--link"><a href="/development">Development</a></li>
					<li class="nav--link {%if activePage == 'about' %} active{% endif %}"><a href="/about">About</a></li>
					<li class="nav--link"><a href="mailto:hello@victoriapugh.net">Contact</a></li> #}
					<li class="nav--link{%if activePage == 'work' %} active{% endif %}"><a href="/#design">Work</a></li>
					<li class="nav--link {%if activePage == 'about' %} active{% endif %}"><a href="/about">About</a></li>
					<li class="nav--link"><a href="mailto:hello@victoriapugh.net">Contact</a></li>
				</ul>
			</nav>
			{# <a class="nav-trigger" href="javascript:void(0);">
		        <span class="cd-icon"></span>
		    </a> #}
		</div>
	</div>
</header>