$orange: #FFB64D;
$blue: #4DD8FF;
$green: #AED87C;
$onyx: #262626;
$gris: #4A4A4A;
$pavement: #707070;
$gargoyles: #969696;
$grey: #E1E1E1;
$dusty: #efefef;
$text-base: #555;

$colors: (
	background: (
		base: $dusty,
		dusty: $dusty,
		grey: $grey,
		white: #fff
	),
	text: (
		base: $gris,
		onyx: $onyx,
		pavement: $pavement,
		gargoyles: $gargoyles,
		grey: $grey,
		dusty: $dusty,
		white: #fff
	),
	orange: (
		base: $orange,
		dark: darken($orange, 15%),
		trans: transparentize($orange, 0.5)
	),
	blue: (
		base: $blue,
		dark: darken($blue, 15%),
		trans: transparentize($blue, 0.5)
	),
	green: (
		base: $green,
		dark: darken($green, 15%),
		trans: transparentize($green, 0.5)
	)
);

@function color($color-name, $color-variant:null) {
  @if ($color-variant != null) {
    @return map-get(map-get($colors, $color-name), $color-variant);
  } @else {
    @return map-get($colors, $color-name);
  }
}