{% set previews = [
    {
      'title': "Deployment Struggles - React app to Heroku",
      "date": "March 14, 2019",
      "link": "https://dev.to/teekatwo/deployment-struggles---react-app-to-heroku-9ma",
      "cover": "https://images.unsplash.com/photo-1545241201-fee9df605ca8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80",
      "blurb": "",
      "source": "Dev.to"
    },
    {
      'title': "Don’t Fear Failure or Rejection",
      "date": "March 5, 2019",
      "link": "https://medium.com/@teekatwo/dont-fear-failure-or-rejection-1270a59693ca",
      "cover": "https://cdn-images-1.medium.com/max/2600/0*LKejKm6XlXh41hL0",
      "blurb": "There are many examples of people who were labeled as failures and were outright rejected. This include Bill Gates, Oprah Winfrey, Steve Jobs, Anna Wintour, Vera Wang, and Walt Disney. Recognizing some names, you might find it hard to believe that they faced bouts of failure and rejection. The link keeping them together was their courage to continue to follow their dreams.",
      "source": "Medium"
    },
    {
      'title': "Making Resolutions and Gauging Potential Change",
      "date": "January 7, 2019",
      "link": "https://medium.com/@teekatwo/making-resolutions-and-gauging-potential-change-bfdddbeeb5e5",
      "cover": "https://cdn-images-1.medium.com/max/2600/0*5ey85HuJZeIhO0U6",
      "blurb": "I don’t normally do this, write about my future aspirations for a given year. This year I thought it’d be interesting to hold myself accountable but also ponder what I’d like to improve personally and professionally. So here’s a short list of some goals I want to try and achieve this year.",
      "source": "Medium"
    },
    {
      'title': "2019 Dev Resolutions",
      "date": "January 6, 2019",
      "link": "https://dev.to/teekatwo/2019-dev-resolutions-308h",
      "cover": "https://images.unsplash.com/photo-1536104968055-4d61aa56f46a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2900&q=80",
      "blurb": "",
      "source": "Dev.to"
    },
    {
      'title': "Two phrases that I’ve used my whole career to enable better communication",
      "date": "June 13, 2018",
      "link": "https://medium.com/@teekatwo/two-phrases-that-ive-used-my-whole-career-to-enable-better-communication-67e5081017bf",
      "cover": "https://cdn-images-1.medium.com/max/1000/0*7BM3ndfr9ZgWRhRU.?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=430514af91cd269ccdd660abb69c22bd&auto=format&fit=crop&w=1471&q=80",
      "blurb": "I was trying to make a Pomodoro timer for the Scotch.io Challenge #6 using a framework I had just started learning, Angular. It was going pretty well at first. I had replicated the desired design look.",
      "source": "Medium"
    },
    {
      'title': "Building a Pomodoro Timer with Vue.js on CodePen",
      "date": "May 31, 2018",
      "link": "https://dev.to/teekatwo/building-a-pomodoro-timer-with-vuejs-on-codepen-7no",
      "cover": "https://images.unsplash.com/photo-1526649661456-89c7ed4d00b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=430514af91cd269ccdd660abb69c22bd&auto=format&fit=crop&w=1471&q=80",
      "blurb": "I was trying to make a Pomodoro timer for the Scotch.io Challenge #6 using a framework I had just started learning, Angular. It was going pretty well at first. I had replicated the desired design look.",
      "source": "Dev.to"
    },
    {
      'title': "Public Speaking is Still Scary and Enjoyable",
      "date": "May 31, 2018",
      "link": "https://medium.com/@teekatwo/public-speaking-is-still-scary-and-enjoyable-661c09e6e72a",
      "cover": "https://cdn-images-1.medium.com/max/1000/0*9NgRAtq-CyJ9td19.?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=430514af91cd269ccdd660abb69c22bd&auto=format&fit=crop&w=1471&q=80",
      "blurb": "I was trying to make a Pomodoro timer for the Scotch.io Challenge #6 using a framework I had just started learning, Angular. It was going pretty well at first. I had replicated the desired design look.",
      "source": "Medium"
    },
    {
      'title': "When to Call it Quits on a Project: Stepping Back and Taking a Break",
      "date": "March 29, 2018",
      "link": "https://dev.to/teekatwo/when-to-call-it-quits-on-a-project-592h",
      "cover": "https://images.unsplash.com/photo-1515938950977-019e2bc4e540?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2891167ad4857ad17e04a6eb46488e01&auto=format&fit=crop&w=1000&q=80",
      "blurb": "I was trying to make a Pomodoro timer for the Scotch.io Challenge #6 using a framework I had just started learning, Angular. It was going pretty well at first. I had replicated the desired design look.",
      "source": "Dev.to"
    },
    {
      "title": "Making a Vue component: an Editable Navigation Element",
      "date": "March 07, 2018",
      "link": "https://medium.com/@teekatwo/making-a-vue-component-986c47bc6719",
      "cover": "https://cdn-images-1.medium.com/max/1000/0*oM4pvsbcQmT1A51I.",
      "blurb": "I had an interesting idea to create a navigation that for simplicity I’ll call an editable navigation. I wanted this navigation to be easy to use. When you fill out the form then a link gets added. You can delete links, edit the content of a link, and change the order of the links.",
      "source": "Medium"
    },
    {
      "title": "The Potential for AR in Professional Settings",
      "date": "February 28, 2018",
      "link": "https://medium.com/@teekatwo/the-potential-for-ar-in-professional-settings-e0f4e1793992",
      "cover": "https://cdn-images-1.medium.com/max/1000/0*NLqoCHrAWrIzOsKm.",
      "blurb": "",
      "source": "Medium"
    },
    {
      "title": "Are You Solving the Real Problem",
      "date": "February 21, 2018",
      "link": "https://medium.com/@teekatwo/are-you-solving-the-real-problem-941a1c36c1d5",
      "cover": "https://cdn-images-1.medium.com/max/1000/1*rYqxGE8b5_lxlvF4OoE_AA.jpeg",
      "blurb": "I was doing a website redesign and trying to figure out what the ultimate goal of the site and the company was.",
      "source": "Medium"
    },
    {
      "title": "What You Shouldn’t do With Mailing Lists",
      "date": "February 13, 2018",
      "link": "https://medium.com/@teekatwo/what-you-shouldnt-do-with-mailing-lists-91a52d89cc56",
      "cover": "https://cdn-images-1.medium.com/max/2000/1*2Oo1Din32plTMdI8GypK4Q.jpeg",
      "blurb": "",
      "source": "Medium"
    },
    {
      "title": "The Benefits of Being an Eternal Learner",
      "date": "February 07, 2018",
      "link": "https://medium.com/@teekatwo/the-benefits-of-being-an-eternal-learner-ecb495355b6d",
      "cover": "https://cdn-images-1.medium.com/max/2000/1*LJj4hmOES-c0DYj4Kwg89A.jpeg",
      "blurb": "",
      "source": "Medium"
    },
    {
      "title": "Don’t Fear Failure, Learn From It",
      "date": "January 31, 2018",
      "link": "https://medium.com/@teekatwo/dont-fear-failure-learn-from-it-338565aef743",
      "cover": "https://cdn-images-1.medium.com/max/1000/1*Y6ylaxFE8yqZg6PxnvRDUw.jpeg",
      "blurb": "This was a something my teacher used to tell me when I was in high school, which was a vocational school. My major was Electronics and sometimes I’d finish a project and it didn’t work.",
      "source": "Medium"
    },
    {
      "title": "Improvement Requires a lot of Practice",
      "date": "January 24 2018",
      "link": "https://medium.com/@teekatwo/improvement-requires-a-lot-of-practice-f5802a2954d6",
      "cover": "https://cdn-images-1.medium.com/max/1000/1*z25f-lKFyTpQfJjppcc3Qg.jpeg",
      "blurb": "",
      "source": "Medium"
    },
    {
      "title": "Emails aren’t as simple as you think",
      "date": "January 17, 2018",
      "link": "https://medium.com/@teekatwo/emails-arent-as-simple-as-you-think-987c6dfeb09e",
      "cover": "https://cdn-images-1.medium.com/max/1000/1*fXBo56b0tanSCNHo4O2eWw.jpeg",
      "blurb": "",
      "source": "Medium"
    },
    {
      "title": "Tips on overcoming Imposter Syndrome",
      "date": "January 10, 2018",
      "link": "https://medium.com/@teekatwo/tips-on-overcoming-imposter-syndrome-fca5409afa75",
      "cover": "https://cdn-images-1.medium.com/max/1000/1*Hus7uxZB2L-5y3F2eLePIQ.jpeg",
      "blurb": "",
      "source": "Medium"
    },
    {
      "title": "What’s the best way to present your freelance business: Studio or Person?",
      "date": "January 3, 2018",
      "link": "https://medium.com/@teekatwo/whats-the-best-way-to-present-your-freelance-business-studio-or-person-b1dd2853549f",
      "cover": "https://cdn-images-1.medium.com/max/1000/1*7swsczEpou_0HBar0aXpKQ.jpeg",
      "blurb": "",
      "source": "Medium"
    },
    {
      "title": "Using Social Media to Your Advantage",
      "date": "December 18, 2017",
      "link": "https://medium.com/@teekatwo/using-social-media-to-your-advantage-446598468375",
      "cover": "https://images.unsplash.com/photo-1432888622747-4eb9a8efeb07?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6354c26fa366d6b456db1d7cf1137c89&auto=format&fit=crop&w=1053&q=80",
      "blurb": "",
      "source": "Medium"
    },
    {
      "title": "Knowing when to readjust your dreams",
      "date": "November 6, 2017",
      "link": "https://medium.com/@teekatwo/knowing-when-to-readjust-your-dreams-1886b6aa9f5b",
      "cover": "https://images.unsplash.com/photo-1458570937094-8381d3a9535b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dca470bd706b1abec6973e81ffab201&auto=format&fit=crop&w=1117&q=80",
      "blurb": "",
      "source": "Medium"
    },
    {
      "title": "Creating my own Gulp-based email workflow system",
      "date": "October 23, 2017",
      "link": "https://medium.com/@teekatwo/creating-my-own-gulp-based-email-workflow-system-35c50725cdb8",
      "cover": "https://cdn-images-1.medium.com/max/1000/1*f94McgIqNUwognsge7EXtg@2x.jpeg",
      "blurb": "",
      "source": "Medium"
    },
    {
      "title": "Mastering the art of admitting you don’t know something",
      "date": "October 8, 2017",
      "link": "https://medium.com/@teekatwo/mastering-the-art-of-admitting-you-dont-know-something-1148066ef200",
      "cover": "https://cdn-images-1.medium.com/max/1000/1*w62y9KpG8denATsB-J0bRQ.jpeg",
      "blurb": "",
      "source": "Medium"
    },
    {
      "title": "How to Explain What Design is to Non-Designers",
      "date": "September 23, 2017",
      "link": "https://medium.com/@teekatwo/how-to-explain-what-design-is-to-non-designers-72838fc12b09",
      "cover": "https://images.unsplash.com/photo-1518893494013-481c1d8ed3fd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d37f41df10af558fe79a662a07c7de3f&auto=format&fit=crop&w=400&q=60",
      "blurb": "",
      "source": "Medium"
    },
    {
      "title": "Be Tron: Fight for the User | aka Be a User Advocate",
      "date": "September 11, 2017",
      "link": "https://medium.com/@teekatwo/be-tron-fight-for-the-user-f96efc142876",
      "cover": "https://cdn-images-1.medium.com/max/800/1*6CyTuYz0D92cl4ynXjW45A.jpeg",
      "blurb": "",
      "source": "Medium"
    },
    {
      "title": "How to Fall Down and Get Back Up",
      "date": "August 30, 2017",
      "link": "https://blog.prototypr.io/how-to-fall-down-and-get-back-up-45b325ca717f",
      "cover": "https://cdn-images-1.medium.com/max/2000/1*x19r4jDmAjmpxyJqziLt4A.jpeg",
      "blurb": "",
      "source": "Medium"
    },
    {
      "title": "Giving a Talk That I Didn’t Know I Wanted to Give",
      "date": "August 12, 2017",
      "link": "https://medium.com/@teekatwo/giving-a-talk-that-i-didnt-even-know-i-really-wanted-to-give-ae9226fd8fce",
      "cover": "https://cdn-images-1.medium.com/max/1000/1*m4MKxjoyY-RXYRWBGEjkOw.jpeg",
      "blurb": "",
      "source": "Medium"
    }
  ]
%}