{% set thumbnails = [
  {
    "link": "/work/hiit-timer",
    "img1x": "images/Thumbnails/hiit-timer@1x.jpg",
    "img2x": "images/Thumbnails/hiit-timer@2x.jpg",
    "type": "App",
    "title": "HIIT Timer App"
  },
  {
    "link": "/work/pomodoro",
    "img1x": "images/Thumbnails/pomodoro@1x.jpg",
    "img2x": "images/Thumbnails/pomodoro@2x.jpg",
    "type": "Github Pages App",
    "title": "Pomodoro Timer App"
  },
  {
    "link": "/work/ucd",
    "img1x": "images/Thumbnails/updates@1x.jpg",
    "img2x": "images/Thumbnails/updates@2x.jpg",
    "type": "Case Study",
    "title": "UCD Email Series"
  },
  {
    "link": "/work/cdew-redesign",
    "img1x": "images/Thumbnails/cdeworld@1x.jpg",
    "img2x": "images/Thumbnails/cdeworld@2x.jpg",
    "type": "Case Study",
    "title": "CDEWorld Redesign"
  },
  {
    "link": "/work/emailgui",
    "img1x": "images/Thumbnails/emailgui@1x.jpg",
    "img2x": "images/Thumbnails/emailgui@2x.jpg",
    "type": "CodePen",
    "title": "Email Workflow GUI"
  },
  {
    "link": "/work/vpdesigns",
    "img1x": "images/Thumbnails/vpdesigns@1x.jpg",
    "img2x": "images/Thumbnails/vpdesigns@2x.jpg",
    "type": "Case Study",
    "title": "VP-Designs"
  },
  {
    "link": "/work/invoice",
    "img1x": "images/Thumbnails/invoice@1x.jpg",
    "img2x": "images/Thumbnails/invoice@2x.jpg",
    "type": "CodePen",
    "title": "Invoice Time App"
  },
  {
    "link": "/work/uniag",
    "img1x": "images/Thumbnails/iagny@1x.jpg",
    "img2x": "images/Thumbnails/iagny@2x.jpg",
    "type": "Case Study",
    "title": "United Nations: Inter-Agency Games"
  }
]%}